[2015-07-01 13:58] boonebgorges opened #1 "Paragraph-level commenting"
Ray, I know you've started work on this. Let's use this ticket for any technical discussion. cc @christianwach

**Todos:**
- [x] Save Inline Comments with a custom comment type (commits 794cd32, 26fc64e)
- [x] Remove Inline Comments from main comment loop on a Social Paper page (commit b6bc22a)
- [x] Inline comment permalinks (commit 74c4eff)
- [x] Comment AJAX support (commit c862518) (see "Notes

[2015-07-01 14:02] boonebgorges opened #2 "Edit mode"
A big part of Social Paper will be the ability to edit in a nice front-end interface. Some requirements:
- Should be front-end - not in the Dashboard
- Should be rich-text, or roughly WYSIWYG
- Should include basic support for inserting images and other media

It's likely that much of this can be accomplished with some permutation of `wp_editor()` and the TinyMCE tools built into WordPress. It's a

[2015-07-01 14:03] boonebgorges opened #3 "Link Papers to Groups"
Much of the required code can be ported from bp-event-organiser.

[2015-07-01 14:03] boonebgorges opened #4 "Activity + notification integration"

[2015-07-01 14:04] boonebgorges opened #5 "Directories"
- Top-level directory (CPT archive?): example.com/paper
- Group tabs
- Member tabs

These can probably share some common template parts.

For group and member tabs, I'm thinking they only need to appear if the group/member actually has papers to show. No need for settings pages as part of the first pass.

---

Todo:
- [x] Root directory - AJAX tabs (My Papers) (commits 1880a1d / 96693c6)
- [x] Roo

[2015-07-01 14:05] boonebgorges opened #6 "cac-advanced-profile widget"

[2015-07-01 14:05] boonebgorges opened #7 "Paper "follow" feature"
I think this'll work pretty much like the Blog follow plugin works, thus the assignment to @r-a-y :)

[2015-07-03 06:38] r-a-y commented on #5
I've made a first pass at overriding the content on the CPT archive page - `example.com/paper/`,  You need to refresh permalinks by going to "Settings > Permalinks" to see this in action.

Template to customize is `/templates/content-directory-social-paper.php`.

[2015-07-03 17:31] r-a-y commented on #2
Another thing to think about is creating the initial post on the frontend.

In #5, I've added some code to support a paper directory (`example.com/paper/`).  Perhaps the new post URL could be `example.com/paper/new`.

I also came across a blog post detailing (probably) the majority of available frontend editor plugins:
http://translate.google.com/translate?u=https%3A%2F%2Fwww.sowmedia.nl%2Fwordpre

[2015-07-06 21:00] r-a-y commented on #1
So in our spec doc on the Commons, I've outlined a few plugins that are currently available.

I think for our needs, we will let those plugins handle paragraph commenting as much as possible,  Our Social Paper plugin will simply tweak things to better suit our full-width template.  This will also allow site admins to choose which paragraph plugin they prefer.

I've already added support for WP Sid

[2015-07-06 23:16] rjbaniel commented on #2
Added some support for a paper[or other supported CPT slug]/new URL to load a new-social-paper.php file: https://github.com/cuny-academic-commons/social-paper/commit/6d934b196b710bdd481cd65efa859b20aa175111

Still need to get that template up and running using one of the plugins you all suggested, just put in a place-holder for now. Also fixed an error in that code here, in case another plugin use

[2015-07-07 00:54] r-a-y commented on #2
Hi Dan,

I was thinking that the `'new'` page should use our existing single social paper template, but we just change up the content to use a custom template.  See commit cb078d5 for what I had in mind.

So instead of looking at the URL to determine if we're on our `'new'` page slug, we're using the existing single page logic, but doing a bit of WP manipulation and adding a fake `'new'` page so W

[2015-07-07 01:10] r-a-y commented on #7
I've been thinking about making this more general and having a Follow Activity module in BP Follow.

This would only work if activity comment syncing is enabled, which ties in with the work imath has been doing in BP Core.  We would get email notifications for free this way as well.

[2015-07-07 11:35] christianwach commented on #1
Good morning - I'm finally back after chronic HD ailments.

Here are some notes on the comparisons above, in the light of testing the plugins locally:

Yep, CommentPress predates the existence of commentmeta :-) There are advantages and disadvantages to this: it means the `comment_signature` data is always efficiently loaded, but on the other hand I've had support requests from academics where the

[2015-07-07 12:04] christianwach commented on #1
What theme are you using, @r-a-y ?

[2015-07-07 18:27] r-a-y commented on #1
Thanks for the feedback, Christian.

Whoa!

Thanks for summarizing how the hash is calculated.  Might come in handy if we decide to port over your hashing / `similar_text()` comparison to one of the other plugins.

Thanks for clarifying.  Makes sense.  I wonder if we'll need to support the `` tag though.  I'm guessing for academic papers, it would be important.

I would actually prefer that we do

[2015-07-09 21:30] boonebgorges commented on #1
This conversation is extremely helpful. Thanks @christianwach and @r-a-y.

CommentPress's signature + `similar_text()` method sounds pretty neat. I'm looking through the CommentPress codebase and it looks like it's not easily abstracted as-is, but I bet we could bundle the same logic into a relatively standalone little library. Using commentmeta :)

I think that the canonical way of keeping track

[2015-07-09 21:35] boonebgorges commented on #2
Oh, WordPress.

Agreed. This is what I meant above about a separation between Edit mode and Read mode. In Edit mode, the user won't see comments. When the changes are saved, some recalculation will take place to try to relocate comments on altered paragraphs; see #1 for discussion.

Thanks for this link, @r-a-y. @rjbaniel - let us know when you've had a chance to knock around a few of these plugin

[2015-07-09 21:38] boonebgorges commented on #7
Oh, that is a pretty good idea. We'll still want to have separate directories for followed papers vs followed sites vs followed whatevers, though - the fact that they all run through the Activity component will be largely invisible to the user.

[2015-07-10 10:24] r-a-y opened #8 "New paper mode"
Members will need a special page to create a new paper on the frontend.
eg. `example.com/papers/new/`

Todos:
- [x] New paper creation at `/papers/new/` slug
- [x] Improve UX of FEE custom slug permalink support (somewhat addressed in commit 9020949)
- [x] FEE tag support (see #43)
- [x] FEE link papers to BP group support
- [x] Redirect to actual paper URL after publishing a new paper (see #39)

[2015-07-10 10:26] r-a-y commented on #2
Just a note that I've merged in my changes from the `'new-paper'` branch into master and have reverted the previous commits relating to the previous attempts to load up the template for the 'new' page.

I've also created a new issue for the "New Paper" page (#8) as it's different enough to warrant its own issue.

[2015-07-10 10:40] christianwach commented on #1
I agree with this. It looks the better of the lightweight plugins. My primary concern would be the developer's statement that he's no longer supporting it. My secondary concern (but one which could be fixed during development) is that Inline Comments creates duplicate comments - both below the content and to the side of it - which confuses the UI in my opinion. Lastly, does CUNY have any accessibi

[2015-07-10 10:50] christianwach commented on #2
I used a modified version of WP Front End Editor 1.4 when I integrated it with CommentPress. The biggest issue I found with it is that it's instantiated as an anonymous object, which makes manipulating its actions and filters rather tricky. See my (still unmerged) PRs for details:

https://github.com/iseulde/wp-front-end-editor/pulls

[2015-07-10 11:01] r-a-y commented on #1
I'm good with it.

I believe this is only regarding free support on the wp.org forums.

I agree.  One thing I like about WP Side Comments is it marks its comments with a unique `'comment_type'`.  Inline Comments does not.  If IC did use a unique comment type when recording the comment, it might be possible to filter out the comments that way.  Not sure if filtering out these comments will affect t

[2015-07-10 11:01] christianwach commented on #2
There might also be some useful code that can be grabbed from [the JS I wrote](https://github.com/IFBook/commentpress-core/blob/master/themes/commentpress-modern/assets/js/wp_fee.js) that interacts with the various triggers in WP FEE. Most of it relates to the problems encountered because CommentPress uses TinyMCE in the comment form, but there's stuff in there that could be used as boilerplate fo

[2015-07-10 11:16] christianwach commented on #1
I've just noticed that the WP Ajaxify Comments plugin devs charge [$19 per support request](https://weweave.net/products/wp-ajaxify-comments/support/). Which I suspect we can all understand the motivation for ;-) but nevertheless would appear to be a hindrance to developing with it.

[2015-07-10 11:26] boonebgorges commented on #1
Oh, right, we should definitely address this. Alternative strategy: we could intercept the comment query and add a `meta_query` clause like this:

[code]

These days, reliance on JS does not, alone, pose an issue for accessibility. See http://webaim.org/techniques/javascript/ for an overview. (Requiring no-JS support is important for other reasons, but I don't think we need to hamstring ourselves

[2015-07-10 11:28] boonebgorges commented on #8
Yeah, I was planning on doing this.

[2015-07-10 11:33] christianwach commented on #1
Indeed. I was enquiring about CUNY/CAC guidelines, if any. Thanks for clarifying.

Agreed. And ideally "commentable block" permalinks, but that may be less important.

I was thinking about whether we could upstream any improvements, rather than asking for help :-)

[2015-07-12 17:42] rjbaniel commented on #2
I integrated the WP Front-end Editor plugin here: https://github.com/cuny-academic-commons/social-paper/commit/ed569d29e721b9582c767f4ba1257e1c76d360a1

I think this plugin looks like a great option, but could be missing something. As a heads up - in order to make it work for now I had to re-enqueue the admin bar style, because that's where they put the Edit button when you're logged in. Is this t

[2015-07-12 17:57] rjbaniel commented on #8
I integrated WP Front-end Editor into our plugin here: https://github.com/cuny-academic-commons/social-paper/commit/ed569d29e721b9582c767f4ba1257e1c76d360a1

The plugin does provide it's own way to create new posts using its same front-end editor - if you look in the +New drop-down in the admin bar and go down to a front-end editor enabled post type, it takes you to a front-end creation screen. It

[2015-07-13 08:41] r-a-y commented on #2
Thanks for this tidbit, Dan.  Since the WP admin bar is currently disabled on social paper pages, FEE's edit link doesn't show up.  So in commit 86b5fe19, I manually added the link to the top-right corner of the page.  I also made sure that FEE's bottom toolbar is shown at all times with CSS as I think that improves usability.

Yeah, sorry for making this a little more complicated due to me wiping

[2015-07-13 14:15] christianwach commented on #5
Am building today... but a quick question - should I build a full BP_Component here? Do we want a BP-style directory if enabled?

[2015-07-13 14:58] boonebgorges commented on #5
BP_Component builds the user-directory
(example.com/members/boone/papers/), and provides some minimal support
for registering a root-level directory (example.com/papers) via
has_directory=true and root_slug). We want both kinds of directories.
But I would suggest that we only use BP_Component for the first kind,
and handle the second kind through WP's native template hierarchy.

On 07/13/15 10:15,

[2015-07-13 15:03] christianwach commented on #5
@boonebgorges thanks. I've been building without a component thus far. Seems like an unnecessary extra step for people if BP is installed - '/members/username/papers' works fine without the need to enable a component if we're not using a BP-style directory. Is there a compelling advantage that I'm missing?

[2015-07-13 15:18] boonebgorges commented on #5
Can you say more about what a "BP-style directory" is, and how it
differs from what you're doing now?

BP_Component is a way to register globals - a data structure. If all
you're doing is registering a new nav item, then you probably don't need it.

On 07/13/15 11:03, Christian Wach wrote:

[2015-07-13 16:06] christianwach commented on #5
Sure. What I'm referring to is akin to a BP page such as the Members Directory, the Groups Directory or the Sites Directory. They all share a common look and feel, with a search box and generally a "New Thing..." button. I implemented this on the IHC site for Papers and Paper Authors.

[2015-07-13 16:08] christianwach commented on #5
At present, I'm creating a nav item on Member profiles with two subnav items: "Published" and "Drafts". These simply pull in lists of papers like the CPT archive does. It's pretty minimal by comparison to the richer BP-style directory UI.

[2015-07-13 16:12] boonebgorges commented on #5
Oh, ok. I don't have any definite thoughts about what it should look
like, though I have a feeling it's going to make the most sense to make
the Papers directory look more or less like the other kinds of directories.

It's not important to me to use BP_Component for this. BP_Component
provides minimal tools, like directory_title and search_string, for
building this page. Using BP_Component means t

[2015-07-13 16:15] christianwach commented on #5
:grinning: Sounds like a plan.

[2015-07-13 18:19] r-a-y commented on #8
Thanks for looking into this, Dan.  I agree that FEE handles a lot of the work for us, so I've decided to use FEE's method of paper creation instead of thinking about integrating `wp_editor()` ourselves.

FEE looks for a specific URL onclick to toggle new mode:
https://github.com/iseulde/wp-front-end-editor/blob/master/src/js/fee-adminbar.js#L17,L23

So commit dc12725 manually triggers this click

[2015-07-14 12:13] christianwach commented on #5
Stubs added for profiles and groups in 9f1889e36af9adf1f1456b00b81f3774539f639a. Output isn't in external templates because of the custom `WP_Query`.

[2015-07-14 16:26] boonebgorges commented on #5
WP_Query now supports a 'bp_group' param, so you can do something like

[code]

We'll have to talk about how (or whether) this works with a loop
template that's shared between groups + users + global directory.

On 07/14/2015 08:13 AM, Christian Wach wrote:

[2015-07-14 16:42] christianwach commented on #5
I've been wondering about that. Seems to me that the text is significantly different for each use case. The markup could be externalised, but then the queries would have to be globals wouldn't they?

[2015-07-14 16:45] boonebgorges commented on #5
The whole thing is complicated by the fact that the CPT archive page uses the _main_ query, while we have a nested query on the user and group pages.

Let's just use template parts for the pieces that need repeating. So the CPT archive will be something like:

[code]

   }

That way there'll be minimal duplication between the different template contexts.

[2015-07-14 16:48] r-a-y commented on #5
Yeah, I made this decision initially based on the fact that not everyone will be using BuddyPress.  If it makes things easier, we can always revert back to the BP directory way.

[2015-07-14 16:50] boonebgorges commented on #5
It doesn't matter that much. We could share the template completely,
though it'll mean that on the global directory we fire the query twice.

On 07/14/2015 12:48 PM, r-a-y wrote:

[2015-07-14 16:51] christianwach commented on #5
To what extent are we building generically? I thought this was CAC-specific initially

[2015-07-14 16:53] boonebgorges commented on #5
CAC-specific initially, but where it's minimal effort to support non-CAC
and non-BP, do it.

On 07/14/2015 12:51 PM, Christian Wach wrote:

[2015-07-14 16:56] christianwach commented on #5
Sounds reasonable.

[2015-07-14 17:03] r-a-y commented on #2
@rjbaniel - I think we should do checks for FEE and not include it directly into social-paper.

I noticed some custom post type support registration in FEE here:
https://github.com/cuny-academic-commons/social-paper/blob/master/lib/wp-front-end-editor/class-fee.php#L19

Are there any other customizations to FEE?  Or was it just that line addition?

[2015-07-14 17:19] r-a-y commented on #5
I've introduced the `cacsp_get_template_part()` function in commit a01cae0.  It's exactly the same as `get_template_part()`, but supports our custom template directory.

This should make things easier to re-use template parts in BP contexts and on the CPT archive.

[2015-07-14 17:31] rjbaniel commented on #2
Nope that was the only change I made - removed lines adding support for posts and pages and added one for cacsp_paper. I can add checks and notices for FEE and pull it out of our plugin.

[2015-07-15 12:00] christianwach commented on #5
@r-a-y Sweet. Fixed a typo, but now works fine.

[2015-07-15 12:01] christianwach commented on #5
I'm not sure about the naming scheme I've given the template files. Anyone with a better scheme, please implement to your tastes!

[2015-07-15 14:02] christianwach commented on #2
Just a heads-up that I've found WP FEE throws errors on WP via SVN but not with 4.2.2.

[2015-07-15 15:48] christianwach commented on #2
I've coded some compatibility with WP FEE when it's enabled as a solo plugin, though so far I've only tested this with my PRs merged. I also added a javascript file with some hooks that receive callbacks from FEE triggers so that Inline Comments (and commenting functionality in general) is faded out when WP FEE is active, then faded back in when WP FEE is disabled. When this script is included pro

[2015-07-16 11:38] christianwach opened #9 "Responsiveness"
So, I've run into a bit of a conundrum with Inline Comments and responsiveness. It may not be a common problem in that it only occurs when the browser window is resized, but I suspect it's going to be pretty annoying to users nonetheless.

Inline Comments sets the location of its bubbles via inline CSS which positions them absolutely with respect to `<html>`. Side Comments, OTOH, injects its bubbl

[2015-07-17 15:02] christianwach commented on #1
Anyone want to share their Inline Comments settings?

Mine aren't working that well, but I haven't had time to refine them:

And with the current setup of the theme, the ""Slide Site" Selector" needs to be:

[2015-07-24 02:04] r-a-y opened #10 "FEE"
I've created this issue just to track what we are doing with FEE.

In commit 5635e64, we are now relying on the wp.org version of FEE:
https://wordpress.org/plugins/wp-front-end-editor/

If we need to make changes to FEE for whatever reason, mods should be made in the `CACSP_FEE` class:
https://github.com/cuny-academic-commons/social-paper/blob/master/includes/class-cacsp-fee.php

`CACSP_FEE` exte

[2015-07-24 02:22] r-a-y commented on #2
Nice work on this so far, Christian.

Embedding media appears to work now.  Fading out the comment section is nice when edit mode is on.  Featured image support works great as well!

Yeah, we'll probably need to look into this as soon as we've stablized things with FEE.

[2015-07-24 02:32] r-a-y commented on #9
We could use `!important` CSS declarations in our custom CSS for responsiveness and tell Inline Comments to use `right: X%` instead of a calculated `left: Xpx` value.  This would still use absolute positioning though, but is probably the easiest way to address this.

If we can easily make Inline Comments follow a model closer to WP Side Comments, then that would be great.  But, we should also be w

[2015-07-27 20:14] rjbaniel commented on #10
So I've taken FEE out of our code, and then added compatibility via functions.php: https://github.com/cuny-academic-commons/social-paper/commit/740ba0dcb41d61f0da595fc25a4574cdd1d9c9d8

[2015-07-27 20:15] rjbaniel commented on #10
I also had a question about the styling on the edit button - for me adding in the extra relative positioning made the Edit button look strange with the rest of the Admin bar. Is that true for you all, too?

[2015-07-27 20:50] r-a-y commented on #10
Can you post a screenshot, Dan?

At the moment, the admin bar shouldn't be displayed on a Social Paper page.

Here's what it should look like:
![Screenshot of a Social Paper page](https://cloud.githubusercontent.com/assets/505921/8917296/0987f78c-3466-11e5-90e9-32c9083e2ae5.gif)

The styling of the "Enable Editing" button could use more work.  It's temporary until we hand off the UX to the rest of

[2015-07-27 21:19] rjbaniel commented on #10
That's weird! Yeah I'm on master and I can see that admin-bar is being enqueued in cacsp_asset_enqueue_handler(), and the whole admin bar is showing, which seems to be covering up the button you added. And since the admin bar is visible, the "Edit Paper" button is to, but it's just positioned weirdly because of the extra styling. What do you think I'm missing here?

Also, took my first shot at add

[2015-07-27 21:32] r-a-y commented on #10
Good catch!  I've removed the two admin bar enqueues in commit ecebb2d.

Hmm... maybe `_cacsp_disable_admin_bar_on_social_paper_pages()` is not working as intended.  It's already firing at priority 1, which is pretty early.  Maybe play around with the priority of the `'admin_bar_init'` hook on your install and see if it works?

Update: I've moved the disable admin bar code to the 'wp' hook in comm

[2015-07-28 12:07] christianwach commented on #9
I'll have a go at overriding the Inline Comments positioning purely when used in a SP context.

[2015-09-15 15:08] boonebgorges opened #11 "Add avatar to inline comments"
Not sure if this is possible/easy, but it was a request from the team :)

[2015-09-15 15:12] boonebgorges opened #12 "Single paper 404 page is not properly styled"
Try visiting example.com/papers/not-a-real-paper

[2015-09-15 15:19] boonebgorges opened #13 "Timestamp on inline comments"
This was requested by the team. What do you think of removing the chain icon, and using the timestamp for the permalink as well?

[2015-09-15 15:30] boonebgorges opened #14 "Dynamically update comment count in expand/collapse button"
When posting comments via AJAX, the +/comment count button should have its count updated.

[2015-09-15 16:05] #12 closed, assigned to nobody

[2015-09-15 17:07] #11 closed, assigned to nobody

[2015-09-15 17:08] r-a-y commented on #11
Definitely possible.

I intentionally left this setting to the Inline Comments admin dashboard, but if we want to have avatars displayed by default for Social Paper, let me know.

[2015-09-16 02:46] #13 closed, assigned to nobody

[2015-09-16 03:02] r-a-y commented on #13
I've left the chain icon for the time being since it's more distinguishable.  Could use some feedback from the team here.  I'll ask over on the Commons.

[2015-09-16 18:03] #14 closed, assigned to nobody

[2015-09-17 16:30] christianwach commented on #1
I've been looking at "Keeping track of comment position during document edits" and I now see why Google Docs doesn't offer paragraph-level (or other DOM element-level) commenting. It is possible to keep track of _selection-based_ comments because the selection-start and selection-end changes can be detected as they happen if some kind of polling of their position is done or if temporary invisible

[2015-09-18 13:47] christianwach commented on #1
Commit e0cc589afb3596fe3d3ada65a8e85a88db1b42b5 allows Inline Comments to remain functional after editing the content. It does not address the possibility of new relationships between the comments and the content. Nor does it address the possibility of orphaned comments when the number of selectors is reduced. However, Inline Comments itself doesn't check this either; i.e. if the corresponding ele

[2015-09-18 16:42] christianwach commented on #1
I've been tackling this issue, so I'll quote the relevant passage to refresh the discussion...

So far, my tests have led me to the opinion that this is not going to work unless `similar_text()` generates a match between sections of the old and new content. When content changes beyond the limit of the Levenshtein similarity test, I cannot see a way to discover which "block" a comment should now be

[2015-09-18 18:00] r-a-y commented on #1
When I first started looking into the changing nature of paragraphs at the PHP level, the following is one of the libraries I found:
https://github.com/gorhill/PHP-FineDiff

I think this is better than using `similar_text()` and it does look more granular and controllable, but you would know more than me :)  Check out the demo page here to test the various granularity levels:
http://www.raymondhil

[2015-09-20 18:02] r-a-y commented on #9
I've sent a PR to the Inline Comments repo, which should address this:
https://github.com/kevinweber/inline-comments/pull/4

Leaving open until it has been merged.

[2015-09-20 20:25] r-a-y commented on #9
PR has been merged.  Inline Comments v2.1.4 should address this.

[2015-09-20 20:25] #9 closed, assigned to nobody

[2015-09-21 10:52] christianwach commented on #9
Nice & simple way to achieve this. Thanks @r-a-y

[2015-09-21 11:37] christianwach commented on #1
Thanks for this, Ray. Whilst it looks like a fine way of displaying diffs, unfortunately (as far as I can tell) it doesn't help so much in analysing or measuring changes. At least Levenshtein provides a way to analyse and assess similarity, which in turn allows us to make a decision on the results. The real problem is that once PHP is involved (i.e. the updated post content has reached the server)

[2015-09-21 13:47] christianwach commented on #1
Before I commit anything related to change-tracking, I should probably post the code that allows additional setup to be done. Beginning at [line 373 of fee.js](https://github.com/iseulde/wp-front-end-editor/blob/master/src/js/fee.js#L373):

[code]

This'll be required unless someone has an alternative idea of how to add the extra code to the TinyMCE instance.

[2015-09-21 20:33] r-a-y commented on #1
Try putting this in `hooks-wp-fee.js`:

[code]

Will this work, @christianwach?

[2015-09-22 10:13] christianwach commented on #1
Thanks @r-a-y that's more elegant.

[2015-09-27 06:42] r-a-y commented on #5
Going to close this one as this is pretty much complete now.

[2015-09-27 06:42] #5 closed, assigned to christianwach

[2015-09-27 06:46] r-a-y commented on #2
Closing this as the main edit functionality is in.

[2015-09-27 06:46] #2 closed, assigned to rjbaniel

[2015-09-27 09:45] christianwach commented on #1
FYI, I'm working on change tracking in [branch 'delta'](https://github.com/cuny-academic-commons/social-paper/tree/delta). So far, it's looking like complex project in its own right.

[2015-09-28 02:41] r-a-y opened #16 "Capabilities"
- [x] Ensure that subscribers/contributors are able to create, edit and delete papers (commit d1c9be3)

[2015-10-03 00:04] r-a-y opened #17 "Feature Request: Footnotes"
Will probably need integration with FEE.  Perhaps an existing WP footnote TinyMCE plugin might suffice?

Needs more research.

[2015-10-04 18:39] boonebgorges commented on #4
Hey @r-a-y - Check out 9913e41. As far as I could see, this is the only general way to tap into the 'filter_query' early enough for `BP_Activity_Activity::get()` to parse it. That's because (a) `get()` always gives precedence to 'scope', so that 'scope' must be unset in time; and (b) `get()` will parse 'filter' args separately from the 'filter_query', and they'll be attached with an `AND` clause,

[2015-10-04 19:50] r-a-y commented on #4
I've been meaning to open a ticket about having 'filter' be its own
thing so it isn't conditional from 'scope' being set so this sounds good
to me!

+1.

[2015-10-04 19:52] boonebgorges commented on #4
Thanks! I think this'll open the door to some cool things, including
better integration of 'hide_sitewide' stuff into logged-in activity
streams in BP.

On 10/04/15 14:50, r-a-y wrote:

[2015-10-04 20:26] boonebgorges opened #18 "Access control and "readers""
Papers should have some rudimentary access control:
1. There should be a top-level toggle between Public (anyone can read and comment) and Protected (reading and commenting is limited to specified users and members of specified groups).
2. Access to papers should be controlled according to these criteria.
3. Activity of Protected papers should not appear in activity streams unless the current user

[2015-10-04 20:27] boonebgorges commented on #7
See #18. I'm going to start working on access control, which I think is pretty much independent of the Follow feature, though I think the two will interact in some ways.

[2015-10-04 21:04] r-a-y commented on #10
So in WordPress 4.3, FEE's floating toolbar doesn't show up when attempting to edit an "Add a block" item or when selecting some text.

I've hacked FEE's JS to temporarily fix this:
https://github.com/iseulde/wp-front-end-editor/pull/261/files

I'll be patching this on cdev just so our testers will have something to work with, but this needs a bit more work since the toolbar fades in and out when

[2015-10-05 04:22] boonebgorges opened #19 "Profile setup happens before 'init'"
We're registering post types and taxonomies at 'init', but a bunch of profile setup is happening at 'plugins_loaded' (that is, 'bp_setup_nav'), and some of that profile setup involves doing post type queries (such as user paper counts). This is causing weird results, especially as I try to filter out results based on access protections (#18). Can we remove this counting, or move it later in the bo

[2015-10-05 08:22] r-a-y commented on #19
Go ahead and remove the count.  It also helps to reduce queries when on
a BP page, since the count is currently uncached.

[2015-10-05 18:24] boonebgorges commented on #19
Cool, thanks! I see you have some caching in there, but commented it out :)

I'm only going to remove it in the profile nav. Directory navigation is
loaded late enough for it to be a non-issue.

On 10/05/2015 03:22 AM, r-a-y wrote:

[2015-10-05 18:26] #19 closed, assigned to r-a-y

[2015-10-05 18:35] r-a-y commented on #19
Actually, @christianwach implemented the profile count and caching originally.

[2015-10-05 18:40] boonebgorges commented on #19
Oops! Next time I'll use my blame tools.

On 10/05/2015 01:35 PM, r-a-y wrote:

[2015-10-05 19:13] r-a-y commented on #3
@boonebgorges Just a heads-up, I created a new branch - `beta2` - to separate your work on activity/group integration and so I can get fixes for the test team on cdev.

I'll cherry-pick whatever commits I make to `beta2` to `master` so no need to worry there.

[2015-10-05 19:24] boonebgorges commented on #3
Sounds good - I was wondering what was going to happen there. Thanks @r-a-y!

On 10/05/2015 02:13 PM, r-a-y wrote:

[2015-10-05 20:36] boonebgorges commented on #4
Thanks, @r-a-y! Here's the ticket:
https://buddypress.trac.wordpress.org/ticket/6645#ticket

I'll work on a patch in the upcoming weeks, but in the meantime, if you
have specific or high-level thoughts, I'd love to hear them.

On 10/04/15 14:50, r-a-y wrote:

[2015-10-05 20:39] r-a-y commented on #10
Found another issue - if the floating image toolbar is visible and you click on the "X" button multiple times, this will remove parent elements from view.

![GIF](https://cloud.githubusercontent.com/assets/505921/10291760/5db5b3f4-6b60-11e5-8d33-49db051dedec.gif)

I have a fix for this and have added a PR for FEE here:
https://github.com/iseulde/wp-front-end-editor/pull/267/files

[2015-10-06 03:15] boonebgorges commented on #3
I think this is mainly done. Here's an outline for posterity:
- When a paper is added to a group (either an existing paper or a new one), each group gets an "Added to group" activity item. This activity item is deleted when the paper is disconnected from the group.
- There's a Groups section in the sidebar panel that allows associating with multiple groups.
- When a paper is Protected, members of

[2015-10-06 03:15] #3 closed, assigned to boonebgorges

[2015-10-06 03:19] boonebgorges commented on #4
This should be pretty much done. A summary:
- When a paper is created, a single 'new_cacsp_paper' item is created. We're using BP's relatively new CPT internals for this.
- When a paper is edited, a single 'new_cacsp_edit' item is created. This item uses the author of the most recent revision for the activity 'user_id'. It also contains a brief excerpt that should contain the first edit in the lat

[2015-10-06 03:19] #4 closed, assigned to boonebgorges

[2015-10-06 03:21] boonebgorges opened #20 "Verify BPGES integration"
Activity integration for social-paper is a bit all over the place. Most paper-related activity is either in the 'activity' component or the 'cacsp' component. See #3, #4.

There are filters in place that are meant to ensure that group activity streams include activity related to papers that belong to the group. But BPGES has some hardcoded checks that these filters may not be able to get around (s

[2015-10-06 03:26] boonebgorges commented on #18
The basics are in:
- There's a selector when editing a paper that lets you select Readers.
- When a paper is set to Protected, only Readers and people in the connected groups can access the paper (and the paper author, of course)
- Activity related to protected papers can only be seen by people with access to the paper

I'd like to see integration between this feature and Following, but I think th

[2015-10-06 03:26] #18 closed, assigned to boonebgorges

[2015-10-06 03:27] boonebgorges opened #21 "At-mentions in comments should trigger notifications"

[2015-10-06 03:28] boonebgorges commented on #4
Just realized I closed this without addressing, or even thinking about :) , notifications. (by which I mean BP notifications) I'm going to open a separate ticket for this.

[2015-10-06 03:30] boonebgorges opened #22 "BP Notification support"
See #3 for activity integration.

We should have support for BP notifications, as it'll serve as a convenient gateway to email notification. It'll also mostly give us #21 (notifications for @-mentions).

I have no idea how notification integration will or should look. I want the first pass to be as simple as possible, with as few settings as we can finagle. I'm thinking:
- Send notification to a u

[2015-10-06 03:48] boonebgorges opened #23 "Readers autocomplete should match anyone on the site"
I built the Readers autocomplete tool #18 so that it reads from a JS array built on the server, instead of AJAX requests. The array includes the logged-in user's friends, current readers of the paper, and members of all groups the user is a member of. I did it this way because user autocomplete is pretty slow on the Commons, and this way of doing things is much, much faster.

But there will be cas

[2015-10-13 02:28] r-a-y opened #24 "Feature Request: PDF output"
Probably will piggyback off an existing WP PDF plugin.

Maybe [Print-Friendly](https://wordpress.org/plugins/printfriendly/)?

[2015-10-13 02:30] sheesh commented on #24
That was exactly the one I had in mind. Would it be difficult to integrate?

On Monday, October 12, 2015, r-a-y notifications@github.com wrote:

##

[2015-10-13 02:32] r-a-y commented on #24
I haven't looked yet, but it should be easy to integrate since it's
already a plugin.

We probably just need to put the button in a decent place.

[2015-10-16 03:11] boonebgorges commented on #20
This should now be working:
- When a paper is attached to a group (either as a new paper, or as an existing paper being edited), an activity item is created in that group with `component=groups`. This activity is automatically handled by BPGES.
- Edit activity is only tracked in the `cacsp` component, so we need to create GES notifications manually. In https://github.com/boonebgorges/buddypress-gr

[2015-10-16 03:11] #20 closed, assigned to boonebgorges

[2015-10-16 14:14] christianwach commented on #1
There's a [new-ish change tracking branch](https://github.com/cuny-academic-commons/social-paper/tree/change-tracking) which I've been working on to preserve comment associations and prevent the orphaning of comments during the editing process when the paper has existing comments.

What seems to be working (both with and without a selection):
- Enter key
- Delete key
- Any key that could overwrite

[2015-10-19 15:20] boonebgorges opened #26 "`comment_status` should default to open"
Since (I think) https://core.trac.wordpress.org/changeset/33041, `comment_status` for new CPTs has defaulted to 'closed'. Papers should be open.

[2015-10-19 16:45] #26 closed, assigned to nobody

[2015-10-19 22:16] boonebgorges commented on #22
The scaffold for all of this is in place. We are now sending notifications on the three events listed above.

I took the easy way out on the "thread" issue. Determining what counts as a "comment in the same thread" is not straightforward, especially given inline comments. Is A only in the same thread as B if B is a direct ancestor of A? (This seems too limiting.) Or only if A and B share a common

[2015-10-19 22:16] #22 closed, assigned to nobody

[2015-10-22 15:16] boonebgorges opened #27 "Comment moderation"
What should we do about comment moderation? Currently, the plugin obeys WP Discussion settings. This means that, in some cases, comments are held for moderation. But there's no obvious way for authors to moderate comments. Should we force-approve comments from logged-in users? Any ideas? :-D
- [x] Add moderation links to settings sidebar when there are unapproved comments
- [x] Intercept WP's mode

[2015-10-22 15:18] boonebgorges opened #28 "Tab character"
The Tab key currently moves between fields. I have a feeling this will be a sticking point for many writers, who will expect it to insert a tab character. At the moment, there's no way to create indented paragraphs, except by hitting space a bunch of times. Any ideas about how to handle this? (I once wrote a "Tab" plugin for TinyMCE, but it's a pretty awful solution :-/ )

[2015-10-22 15:24] mkgold commented on #27
Since we are working within a trusted network, I would say yes to "Should we force-approve comments from logged-in users?"

I guess another question is whether non-logged-in users can add comments

[2015-10-22 17:52] r-a-y commented on #27
Yes they can.  If we do not want non-logged in users to comment, we can use WP's "Settings > Discussion" settings to toggle this off.

I would also say "yes" to this as well.  We should do this for our post type only though.

[2015-10-23 02:44] boonebgorges commented on #1
Hi @christianwach - Sorry it's taken a while, but I wanted to get a chance to give this the attention it deserves. I spent a bunch of time today going through the functionality and the code, and it is quite clever and really nicely done. I'm saddened by the fact that the TinyMCE implementation requires these weird workarounds (like the clipboard node handling, and the `PastePostProcess` dance that

[2015-10-23 03:16] r-a-y commented on #1
I noted this on Gitter.  Here's a GIF displaying the problem:
![GIF](https://cloud.githubusercontent.com/assets/505921/10683381/37778fc0-78f6-11e5-800c-140850538e47.gif)

---

When I delete the `This is what I would do if I was writing a paper` paragraph, the cursor lands on the `Blah Blah and Blah.` paragraph.  Notice that if I delete the trailing "." period from the "Blah Blah and Blah." paragra

[2015-10-23 15:54] christianwach commented on #1
@boonebgorges @r-a-y Thank you both for the thorough testing. I will respond in full on Monday.

[2015-10-25 01:29] boonebgorges commented on #21
This was fixed in 5071234daa31543c8d0b13952f155c69ecd99809 and a2821d969687207e2273aa9e78fa46391c547025. It may be further reworked by the Follow feature, but for now it's working.

[2015-10-25 01:29] #21 closed, assigned to nobody

[2015-10-25 01:31] boonebgorges commented on #27
Thinking about this - checking this box will prevent non-logged-in users from commenting on any post type throughout the site, which is not necessarily what we want. For v1, I think we should simply limit comments to logged-in users programatically, and for a future version we can come up with a better moderation system.

[2015-10-25 01:32] boonebgorges opened #29 "Hover text for comment bubble"
See http://commons.gc.cuny.edu/groups/cac-community-team-project-planning/docs/social-paper-beta-2-directory-page-and-writing-papers/#comment-2030

[2015-10-25 01:33] boonebgorges opened #30 "Aligned media insert not working properly"
From http://commons.gc.cuny.edu/groups/cac-community-team-project-planning/docs/social-paper-beta-2-directory-page-and-writing-papers/#comment-2030:

There seem to be a non-trivial number of issues with media. Should we just disable it for v1?

[2015-10-25 01:35] boonebgorges opened #31 "New paper slug should reflect paper title"
This is probably an upstream improvement for FEE.

[2015-10-25 01:36] boonebgorges opened #32 "Don't highlight slug when creating paper"
Related: #31

It's possible this will be most easily fixed upstream.

[2015-10-25 01:38] boonebgorges opened #33 "Put a "beta" label somewhere in the interface"
For the initial rollout, we should put the "beta" label somewhere prominent in the interface.

The "beta" notification could play a double (or triple or quadruple) role:
- could contain CAC branding, in which case it'd have to be a CAC-only feature
- can be coupled with link to paper hub, addressing some concerns about navigability
- should contain a link to submit a bug report

[2015-10-25 01:40] boonebgorges opened #34 "Font size should be smaller"
I think we pretty much just aped Medium here, but @sheesh has requested that we reduce the font size for read mode. I think we need to be careful not to turn this thing into MS Word - just because it's what people are used to doesn't mean it's good - but I think it's worth considering a change of some sort. Assigning to @samradd for consideration.

[2015-10-25 01:42] boonebgorges opened #35 "Comment timestamps should be formatted to look like links"
I guess this just means underlining them? http://commons.gc.cuny.edu/docs/social-paper-beta-2-directory-page-and-writing-papers/#comment-2021

[2015-10-25 01:43] boonebgorges opened #36 "Show more/less toggle for individual comments"
Suggested at http://commons.gc.cuny.edu/docs/social-paper-beta-2-directory-page-and-writing-papers/#comment-2021 Google Docs has a model to follow here.

[2015-10-25 01:44] boonebgorges opened #37 "Show comments in Edit mode"
There was a conscious choice not to show comments in Edit mode, I think because we (I) thought it would be too complicated to show them both at once. It turns out that it probably isn't all that complicated, so maybe we should do it. I'm not sure who built this particular piece - was it you @r-a-y ?

If there are any technical hurdles then we definitely should not do this for v1.

[2015-10-25 01:45] boonebgorges opened #38 "Allow authors to provide a paper excerpt/summary"
For display in directories, etc.

[2015-10-25 01:46] boonebgorges opened #39 "After creating a paper, page should refresh"
If for no other reason than that FEE doesn't change the text of the "Publish" button dynamically.

[2015-10-25 14:45] mkgold commented on #38
Can/should an excerpt be auto-generated for papers where authors don't provide a summary? (ie, taking the first x number of lines/characters as the excerpt)

[2015-10-25 14:45] boonebgorges commented on #38
Yeah, but I don't think we want to institute the feature without
allowing authors to customize it. In the case of papers (maybe more than
in the case of blog posts) it's probably going to be very common for
people to want to customize the excerpt.

On 10/25/15 09:45, mkgold wrote:

[2015-10-25 14:47] mkgold commented on #38
So -- maybe the excerpt is auto-generated for the directory if the excerpt field is left blank?

Also, there is the question of where to put this field on the page . . .

[2015-10-25 14:49] mkgold commented on #37
It might be worth thinking about a show/hide comments toggle in edit mode. I'd hate to lose the clean writing interface but Erin is right that some people may want to see comments as they are writing.

[2015-10-25 14:51] boonebgorges commented on #38
Yup, agreed.

Right. That's why I opened a ticket instead of just doing it :)

On 10/25/15 09:47, mkgold wrote:

[2015-10-25 14:52] mkgold commented on #30
If needed. I would like to see more testing on this, however, before we take that step, as it would be a significant feature loss.

[2015-10-25 14:54] boonebgorges opened #40 "Improved support for papers without titles"
When a paper doesn't have a title, it messes up things like directories, activity text, email notifications, etc. We should do one of two things:
- Make sure that the text in these various interfaces supports untitled papers. So "Boone edited the paper 'Foo'" becomes "Boone edited a paper" or "Boone edited an untitled paper" or whatever. This is going to be a lot of work, because there are going t

[2015-10-25 14:56] mkgold commented on #38
Okay. I'd argue for putting it below the paper, but I'd be interested in seeing what other writing interfaces do. @samradd @sheesh, any thoughts?

[2015-10-25 14:57] mkgold commented on #40
Could we auto-generate a title like "Untiled Paper 1" and "Untitled Paper 2"? Would that make things easier?

[2015-10-25 15:43] sheesh commented on #27
I want to push against limiting comments to logged-in users
programmatically for the first version. One of the ways I plan to promote
SP is by eliciting comments from non-Commons members with the hopes of
showing how SP can build audiences across institutions.

One way of solving this is to refurbish the directory to follow the
"groups" template with a left side bar (instead of the toggle options

[2015-10-25 16:11] boonebgorges commented on #27
I don't want to be the one to make the call here. Things like this take time to build, so the more we include in the first version, the longer things are going to take. But if this is critical for the first ("minimal") version, then your idea sounds fine.

[2015-10-25 16:47] r-a-y commented on #40
In the Paper Directory, when there is no title, the title lists `(Untitled)`.

[2015-10-25 16:50] r-a-y commented on #37
This is tied to the comment auto-repositioning issue.  At the moment, we do not show comments because repositioning comments requires a page refresh.

[2015-10-25 16:51] r-a-y commented on #32
I think we should keep the slug highlighted to let authors know that the slug is editable.

Perhaps when the user clicks inside the URL box, the slug becomes highlighted instead?

[2015-10-25 16:53] r-a-y commented on #16
Marking as fixed.  New issues will be opened if there are any problems with caps.

[2015-10-25 16:53] #16 closed, assigned to nobody

[2015-10-25 17:03] boonebgorges commented on #37
Ah right. This should definitely be tabled then.

On 10/25/2015 11:50 AM, r-a-y wrote:

[2015-10-25 17:04] mkgold commented on #32
That sounds perfect to me. I just don't think it should be highlighted to start, because the title and body of the paper are also editable and arguably should be addressed by the user before the slug.

[2015-10-25 17:04] boonebgorges commented on #32
The paper can be edited too - that's the important part - and we don't
highlight that.

If we do a better job of auto-generated slugs, this won't be an issue.
I'm almost finished with #31 - once it's done, I think we'll be in a
better position to say what to do about this ticket.

Yeah, this sounds good.

On 10/25/2015 11:51 AM, r-a-y wrote:

[2015-10-25 17:22] #32 closed, assigned to nobody

[2015-10-25 18:49] #31 closed, assigned to boonebgorges

[2015-10-25 18:50] boonebgorges commented on #31
This is done in 708956d. Note that the post slug only changes to match the title before the post has been published. I don't think this is appropriate for an upstream patch (not sure it's desired behavior in vanilla FEE) so I'm removing the upstream tag.

[2015-10-25 20:05] r-a-y opened #41 "Support the WA Fronted editor plugin"
When we started developing Social Paper, only FEE was a viable option for a frontend editor.

WA-Fronted is another frontend editor plugin that has more momentum behind it, appears to be less buggy and is in active development:
https://github.com/jesperbjerke/wa-fronted

It has revision history support, which is on our roadmap and will probably fix many issues that we have with FEE including #10 a

[2015-10-25 21:09] sheesh commented on #38
I think that's fine.

erin rose glass | digital fellow | cuny grad center | nyc
www.erinroseglass.com | @erinroseglass

On Sun, Oct 25, 2015 at 10:56 AM, mkgold notifications@github.com wrote:

[2015-10-25 21:31] sheesh commented on #35
I think that would do the trick.

erin rose glass | digital fellow | cuny grad center | nyc
www.erinroseglass.com | @erinroseglass

On Sat, Oct 24, 2015 at 9:42 PM, Boone Gorges notifications@github.com
wrote:

[2015-10-25 21:34] sheesh commented on #27
Good point. I don't want to add too much time to development. Please see
the mock up I emailed that mimics "Group" layout. Perhaps this would solve
several problems at once.

erin rose glass | digital fellow | cuny grad center | nyc
www.erinroseglass.com | @erinroseglass

On Sun, Oct 25, 2015 at 12:11 PM, Boone Gorges notifications@github.com
wrote:

[2015-10-25 21:35] sheesh commented on #37
Agreed that it should be tabled for now if complicated. Thanks for the
thoughts.

erin rose glass | digital fellow | cuny grad center | nyc
www.erinroseglass.com | @erinroseglass

On Sun, Oct 25, 2015 at 1:03 PM, Boone Gorges notifications@github.com
wrote:

[2015-10-25 21:46] r-a-y commented on #30
We could also remove or hide the align buttons if they are causing issues for the media toolbar.

[2015-10-25 23:05] boonebgorges commented on #41
This looks really promising - thanks, @r-a-y!

One lame side note is that the plugin requires PHP 5.4.3, a requirement
we don't meet on the Commons production server. We (desparately) need to
upgrade anyway, so maybe it's no big deal, but it's one more thing to do.

On 10/25/15 15:05, r-a-y wrote:

[2015-10-26 00:24] mkgold commented on #27
Hi All,

I'm fine with leaving non-logged-in comments off of the MVP if we don't have a reasonably developed system to handle comment moderation. I have doubts about whether the hub is the best place for comment moderation; for one thing, if there was a notification of comments placed in moderation, it would be weird to be taken to a hub page to approve/disapprove.

Are comments from logged-in use

[2015-10-26 00:53] boonebgorges commented on #27
Comment visibility obeys general paper visibility. Anyone can see
anything on a public paper, and only whitelisted members can see the
content/comments of a protected paper.

On 10/25/15 19:25, mkgold wrote:

[2015-10-26 00:58] mkgold commented on #27
So the comment icon has two functions -- both adding comments and viewing
comments? Ie., that icon will appear even for non-logged-in users?

On Sun, Oct 25, 2015 at 8:53 PM, Boone Gorges notifications@github.com
wrote:

[2015-10-26 01:15] boonebgorges commented on #27
I guess you could put it this way. I'd say: The comment bubble expands
the comment section for that paragraph. The comment section includes
both the list of existing comments and the comment form. If the current
user is not logged in, and logged-out commenting is disabled, the
comment form will consist of a message that says "You must be logged in
to comment".

On 10/25/15 19:58, mkgold wrote:

[2015-10-26 01:24] mkgold commented on #27
Thanks -- that makes sense.

On Sun, Oct 25, 2015 at 9:15 PM, Boone Gorges notifications@github.com
wrote:

[2015-10-26 01:48] sheesh commented on #27
I'm still very concerned about losing the possibility for non-logged in
users to comment. This is vital to SP's vision. If my suggestion regarding
the location of comment moderation is not feasible (I did not suggest the
hub just to be clear), then perhaps there is another way, such as within
the comment itself? I'd prefer a very clunky solution to no possibility at
all.

If this is still not poss

[2015-10-26 02:32] boonebgorges opened #42 "Inline Comments triggering "Confirm Reload" page on beforeunload"
FEE gives a `saveAlert` if you try to leave with a "dirty", unsaved post. Inline Comments changes `post_content` to add its markup, which causes FEE's `isDirty()` check always to be tripped once Inline Comments has done its thing - whether a real edit has taken place or not.

[2015-10-26 03:03] sheesh commented on #30
I agree with Matt that it would be a significant feature loss; I found the
easy ability to align the image very impressive and useful and did not
experience any issues.

I tried to replicate this bug by uploading an extremely large image. The
result was an error message. I think most users will know not to upload
large images.

erin rose glass | digital fellow | cuny grad center | nyc
www.erinrose

[2015-10-26 03:33] boonebgorges commented on #27
If it's critical for the first version, then we'll do it. I'm working on it.

[2015-10-26 03:50] sheesh commented on #27
Thank you! Sorry to be such a stickler on this point. I know you have been
working non stop!

On Sunday, October 25, 2015, Boone Gorges notifications@github.com wrote:

##

[2015-10-26 04:56] boonebgorges commented on #27
First pass at this is in 87fbb7e. A bunch of things need to be fixed before it's usable. I've updated the ticket description with some todos for myself.

[2015-10-26 12:18] christianwach commented on #30
I couldn't replicate this locally. Nor could I replicate on cdev when I created a new paper there. Anyone have an example of the problem?

[2015-10-26 12:22] christianwach commented on #42
I can't seem to replicate this either locally or on cdev. The 'change-tracking' branch [has code to prevent this](https://github.com/cuny-academic-commons/social-paper/blob/change-tracking/assets/js/changes.js#L1199) so if it's required on vanilla SP it can easily be ported.

[2015-10-26 13:36] christianwach commented on #1
It looks to me as though it's a TinyMCE issue since I can see the issue in Gecko but not in Webkit. Webkit behaves properly (i.e. it doesn't require the extra DELETE keystroke) but Gecko does not rejig the paragraphs when it is supposed to. Switching to `keyup` as @r-a-y suggests won't be a solution, because `keyup` doesn't fire when the DELETE key is held down to produce multiple deletes. I'm not

[2015-10-26 13:36] christianwach commented on #1
On a related note, I notice that Medium has abandoned paragraph-level commenting. I wonder if their decision is related to the problems associated with paragraph-tracking (as opposed to selection-tracking, where key presses inside a selection are easy to track)?

[2015-10-26 15:37] mkgold commented on #1
Very interesting to see that Medium has gone with selection-based
commenting. .  . .

On Mon, Oct 26, 2015 at 9:36 AM, Christian Wach notifications@github.com
wrote:

[2015-10-26 15:47] sheesh commented on #1
Interesting, indeed!

On Mon, Oct 26, 2015 at 11:37 AM, mkgold notifications@github.com wrote:

[2015-10-26 15:59] boonebgorges commented on #42
Weird. I'm now using a different machine, and I'm not seeing the problem. It must be a plugin conflict, or maybe a difference in load order caused by config difference between the two installations. (I'm guessing Inline Comments is loading really late or something.) I'll leave this ticket open, because it may be worth porting the `copy_original()` trick to somewhere later in the pageload at some p

[2015-10-26 16:16] christianwach commented on #42
I suspect load order too, but can't be sure without finding a way to reliably replicate.

[2015-10-27 03:41] boonebgorges commented on #42
So, funny thing - on the installation where I'm having the problem, commenting out `copy_original()` actually solves it. Let me dig some more....

[2015-10-27 03:59] boonebgorges opened #43 "Tag entry"
You can't current add tags to a paper. This appear to be a known limitation in FEE. I'm going to do just enough to flesh out what's currently there.

[2015-10-27 05:47] boonebgorges commented on #43
I believe this is mostly functional now.

[2015-10-27 15:58] samradd commented on #38
I'm afraid it will get lost below the paper, especially if it's very long. Up top is the most logical, but I know we don't want to clutter the interface much. How about in the settings panel?

[2015-10-27 16:03] sheesh commented on #38
I like that idea as well.

erin rose glass | digital fellow | cuny grad center | nyc
www.erinroseglass.com | @erinroseglass

On Tue, Oct 27, 2015 at 11:58 AM, samradd notifications@github.com wrote:

[2015-10-27 16:07] samradd commented on #34
I think smaller could be good -- it's quite intense on my 11" laptop, but I agree that we don't need to totally shrink it. How about 4px smaller for the header and text, which I believe converts them to a 44px header and 18px body.

[2015-10-27 16:40] mkgold commented on #38
Hi Sam,

Would it get lost on the page if it is near the "publish/save" button?

[2015-10-28 04:56] #43 closed, assigned to boonebgorges

[2015-10-28 04:57] boonebgorges commented on #38
The Settings panel makes the most sense to me. If it were near "Publish", I guess it'd have to pop up a modal?

[2015-10-28 05:01] boonebgorges commented on #34
I've made the fonts smaller, as Sam suggested. This can be reviewed on cdev.

On 10/27/15 11:07, samradd wrote:

[2015-10-28 05:11] mkgold commented on #38
Just checked CDEV and saw the settings panel for the first time. Is this new as of the BP integration phase?

[2015-10-28 13:20] boonebgorges commented on #38
Yes

On 10/28/2015 12:11 AM, mkgold wrote:

[2015-10-29 00:26] r-a-y commented on #7
First pass of follow functionality is up on cdev.

Just going to run down the main elements.

**Navigation:**
- New `Papers I Follow` tab on the Papers directory, which displays all followed papers.
- New `Papers > Followed Papers` page on a user's profile
- New `Activity > Papers` page on a user's profile
- New `My Papers` filter on `My Commons` (CAC-only)

**Auto-follow:**
- When someone comment

[2015-10-29 10:43] christianwach commented on #1
Also interesting is that Genius (was RapGenius) are [offering their annotation system](http://genius.com/Genius-how-to-use-genius-to-make-your-site-annotatable-annotated) to other sites. Comments become theirs, however.

[2015-10-29 15:00] profstein commented on #38
I also agree that the Settings panel makes the most sense.

[2015-10-29 18:20] r-a-y opened #44 "New papers not recorded into the activity stream"
Might have something to do with some custom code we're running to update the paper at various junctures (tags, post title).

New papers do get recorded when posting a new paper from the WP admin area though.

[2015-10-29 18:26] boonebgorges commented on #44
Hm, I'm 99% sure this worked at some point. It's worth a bisect back to
the changeset where it was originally introduced.

But yeah, it could have something to do with the /papers/new/ juggling act.

On 10/29/2015 01:20 PM, r-a-y wrote:

[2015-10-29 20:14] boonebgorges commented on #7
This is pretty cool, @r-a-y ! Thanks for pushing it along.

If we're thinking about the same comments, they were a `@todo` about where screen notifications like "There are three new comments on papers you follow" should go - since presumably they'd be different papers. Maybe to My Papers? I dunno. Or maybe we can split up the joined notifications so that they're grouped only per-paper. Not sure if

[2015-10-29 20:29] #44 closed, assigned to nobody

[2015-10-29 20:33] r-a-y commented on #44
@boonebgorges - We might want to add a filter like the folllowing into BP core:

[code]

To prevent issues like this from popping up elsewhere.

[2015-10-29 20:54] boonebgorges commented on #44
Whoa. This sounds terrible. What were the problematic characters? What's
your database encoding?

On 10/29/2015 03:33 PM, r-a-y wrote:

[2015-10-29 22:04] r-a-y commented on #44
My `wp_bp_activity` `content` column is `utf8_general_ci`.

The characters when I converted them via `urlencode()` were `%0A%0A%A0`.

The fact that this issue doesn't occur when posting via the WP admin interface means that some filters are missing when posting via FEE, which trickles down to BuddyPress and caused this bug.

[2015-10-29 22:33] boonebgorges commented on #44
Hm, yeah. BP should probably even have sanity checks, deeper down, which
detect `$wpdb->insert()` failures, then try stripping invalid characters
before attempting another insert. WP does this for posts, for instance.

On 10/29/2015 05:04 PM, r-a-y wrote:

[2015-10-30 19:33] r-a-y commented on #7
@boonebgorges - For screen notifications when a user follows a paper, this is what I've done in commit 90b65f2.

When recording a follow paper notification, I use a dynamic component action - `follow_paper_{$paper_id}` so the user will see separate notifications for each paper.

When there is more than one follower for a paper, the notification will show `X members started following your paper "fo

[2015-10-31 01:32] r-a-y commented on #42
I was looking into an issue where FEE was causing unnecessary post revisions being created due to WP autosave and FEE's formatting filters and thought it was semi-related to this issue.

The commits that are linked to this ticket strip [the extra paragraph elements caused by FEE applying wpautop() to the editor content](https://github.com/iseulde/wp-front-end-editor/blob/master/src/class-fee.php#L

[2015-11-02 15:46] boonebgorges commented on #7
Cool, this is very clever! Thanks, @r-a-y .

The `spfilter` trick probably is worth looking into for BP. I can see use cases where you might want to filter notifications based on a query param, even if this isn't something we support with any UI at the moment.

I'm trying to think if there are any potential problems with dynamic notification types. If this were the activity component, there may be

[2015-11-03 15:41] boonebgorges opened #45 "AJAX pagination for 3-item activity stream on hub"
(CAC-only)

[2015-11-03 15:43] boonebgorges opened #46 "In directories, don't show Follow button to paper author"
http://commons.gc.cuny.edu/?p=43668

[2015-11-03 15:44] boonebgorges opened #47 "Protected paper not accessible to members of associated group if group is public"
http://commons.gc.cuny.edu/?p=43668

[2015-11-03 15:46] boonebgorges opened #48 "Ensure that all of a user's groups are appearing in the settings sidebar"
Reported by @samradd in http://commons.gc.cuny.edu/?p=43668. A note that, by design, this dropdown only shows the groups that a user is a member of; it's not scalable or useful to have all of a site's groups listed there. If we want the ability to attach a paper to a group that a user is not a member of, we'll need additional workflow related to permissions, and we should handle that for a future

[2015-11-03 15:47] boonebgorges opened #49 "Change 'Protected' status to 'Private'"
http://commons.gc.cuny.edu/?p=43668

[2015-11-03 15:48] boonebgorges opened #50 "Show paper status (public/private) in the interface"
See mockups https://www.evernote.com/shard/s11/sh/2a92f7ca-7297-4a88-95fe-e21552e776be/3ad953afd37528809a07834a0c807e20

cc @samradd @chris0stein

[2015-11-03 15:49] boonebgorges opened #51 "Move directory search box so it's next to directory title"
See https://www.evernote.com/shard/s11/sh/2a92f7ca-7297-4a88-95fe-e21552e776be/3ad953afd37528809a07834a0c807e20

[2015-11-03 15:49] boonebgorges opened #52 "Tag/search in directory should scroll to an anchor"

[2015-11-03 15:50] boonebgorges opened #53 "There's no way to remove a Tag filter on directories"
Something like a "Remove filter" link is probably enough

[2015-11-03 15:52] boonebgorges opened #54 "More consistent treatment for 'Create New Paper' buttons"
See comments and mockups on https://www.evernote.com/shard/s11/sh/2a92f7ca-7297-4a88-95fe-e21552e776be/3ad953afd37528809a07834a0c807e20

@r-a-y I'm assigning this to you, but if @samradd or @chris0stein have specific suggestions, it would probably be helpful.

[2015-11-03 15:54] boonebgorges opened #55 "Move author box to the top of the page"
I'm not sure what kind of ramifications this will have for scripts etc, so I'm putting it in the 1.0 milestone only tentatively.

[2015-11-03 15:56] boonebgorges opened #56 "Don't show author panel when in Edit mode"
From http://commons.gc.cuny.edu/?p=43668:

This is not entirely true; the list of tags does update when you change the tags attached to the paper. Moreover, there is no other place to see tags when in Edit mode, except by clicking on the Tag button. For this reason, I'd suggest _not_ removing this at the moment.

cc @samradd @chris0stein for feedback

[2015-11-03 15:58] boonebgorges opened #57 "Better placement for FEE success/error message"
Can be covered up by sidebar, etc.

I believe this is fixed by 245517f0b02. I'm putting this ticket up here for posterity.

[2015-11-03 15:58] #57 closed, assigned to r-a-y

[2015-11-03 15:59] boonebgorges opened #58 "Non-logged-in comments don't have avatars in Hub streams"
From http://commons.gc.cuny.edu/?p=43710

I'll look into how hard this is. cc @sheesh

[2015-11-03 16:00] boonebgorges opened #59 "Hub: don't allow latest activity to be flooded by a single member"
From @sheesh http://commons.gc.cuny.edu/?p=43710

This is hard - we have to decide on, and then write, the logic - so I don't think we can do this for v1.

[2015-11-03 16:02] boonebgorges opened #60 "Activity favoriting"
From @sheesh http://commons.gc.cuny.edu/?p=43710

I'm going to suggest we remove activity favoriting for paper-related activity. It's unrelated to, and liable to be confused with, Following.

[2015-11-03 16:04] boonebgorges opened #61 "List paper author somewhere in activity items"
Via @sheesh http://commons.gc.cuny.edu/?p=43710

In other words, the comment action is something like 'Boone left a comment on Foo', saying nothing about who wrote Foo. I would like to avoid having these activity actions get super long (it also adds overhead to the paper loop) but I guess we can make it something like 'Boone left a comment on Foo by Bar'.

This is a low-priority item so I'm not pu

[2015-11-03 16:08] boonebgorges opened #62 "Don't allow images in hub activity items"
Via @sheesh http://commons.gc.cuny.edu/?p=43710

[2015-11-03 16:09] boonebgorges opened #63 "Include comment count on paper directory"

[2015-11-03 16:11] boonebgorges opened #64 "Hub: tag filter not reflected in pagination"
via @sheesh http://commons.gc.cuny.edu/?p=43710

[2015-11-03 16:11] boonebgorges commented on #33
@samradd Could you or @chris0stein give a sense of what this label and/or link to the hub should look like?

[2015-11-03 16:45] r-a-y commented on #54
This is a CAC-only issue.

I originally styled this on CAC so the button would look and be positioned the same as the "Create a Group" button on the Groups Directory.

When you're on your own Papers page, I styled the "New Paper" button to be the same as our "New Event" button when you're on your own Events page.  However, I just noticed that the "Create a Group" link on your own "Groups" page is

[2015-11-03 17:07] boonebgorges commented on #38
I've implemented this. There's now a Description input in the settings sidebar. It suggests, though doesn't enforce, a 250 character count. I called it "Description" rather than "Excerpt" because I thought it was more appropriate for the use of the field. The description is then shown as appropriate in directories.

[2015-11-03 17:07] #38 closed, assigned to boonebgorges

[2015-11-03 17:09] #49 closed, assigned to boonebgorges

[2015-11-03 17:12] #48 closed, assigned to boonebgorges

[2015-11-03 17:13] boonebgorges commented on #48
There was a bug that caused only the first 20 items to be shown. Now all of a user's groups should appear. Marking fixed.

[2015-11-03 17:51] boonebgorges opened #65 "Inline Comments should be disabled everywhere but on SP paragraphs"
Inline Comment is being greedy, showing the comment bubble on paragraphs other than those in SP. I think this is a config setting. @christianwach Can you suggest how this should be set up so that it's properly sandboxed?

[2015-11-03 17:52] boonebgorges opened #66 "Readers settings should appear directly under Paper Status"
via @mkgold http://commons.gc.cuny.edu/groups/cac-community-team-project-planning/forum/topic/beta-3-is-ready/#post-43762

[2015-11-03 17:53] #66 closed, assigned to boonebgorges

[2015-11-03 17:54] r-a-y commented on #65
I've got this one.  I already started doing some CAC-only stuff for this.

As for general distribution, I didn't want to infringe too much on people that might already be using Inline Comments in some form.  Would be great to get some thoughts on this.

[2015-11-03 17:59] boonebgorges commented on #65
Oh, right - I forgot that other people are going to be using this.

I would be happy to have this enforced in code for the Commons - it'll
make deployment (cdev, etc) much easier. Maybe a 'pre_option_' filter.

For distribution, I'd say: let's do nothing in the code, but provide
suggestions in the documentation.

On 11/03/15 11:54, r-a-y wrote:

[2015-11-03 18:06] r-a-y commented on #65
I've removed Inline Comments from the front page and on the login page.  Let me know if you see other instances of this.

Good idea!

[2015-11-03 18:38] #63 closed, assigned to nobody

[2015-11-03 19:15] #50 closed, assigned to boonebgorges

[2015-11-03 20:37] #60 closed, assigned to r-a-y

[2015-11-03 20:55] #46 closed, assigned to r-a-y

[2015-11-03 21:32] r-a-y commented on #51
I've added some commits to address this in our theme.

Going to close this one.

[2015-11-03 21:32] #51 closed, assigned to boonebgorges

[2015-11-03 21:38] r-a-y commented on #39
I think we can close this one.

When a paper is published, we're now dynamically changing the draft URL to the real paper URL and the "Publish" button is now changed to "Update".

[2015-11-03 22:55] #55 closed, assigned to boonebgorges

[2015-11-03 22:56] boonebgorges commented on #55
I don't see any weird side effects from the move, so I'm going to call it closed.

I've opted to put it above the title (as shown in https://www.evernote.com/shard/s11/sh/2a92f7ca-7297-4a88-95fe-e21552e776be/3ad953afd37528809a07834a0c807e20) but below the featured image.

[2015-11-04 02:49] boonebgorges commented on #52
Search should no longer be an issue, now that the search bar is moved. See #51.

[2015-11-04 02:49] #52 closed, assigned to boonebgorges

[2015-11-04 02:54] #53 closed, assigned to boonebgorges

[2015-11-04 03:31] #45 closed, assigned to boonebgorges

[2015-11-04 09:32] christianwach commented on #65
Currently, SP has a hard-coded override of whatever's set in the Inline Comments admin [here](https://github.com/cuny-academic-commons/social-paper/blob/master/includes/hooks-inline-comments.php#L38). We could add a filter at that point so that CAC can enforce a particular selector whilst letting the selector be set in the Inline Comments admin in distributed versions:

[code]

As for how CAC best

[2015-11-04 20:47] r-a-y commented on #44
Turns out we do have a ticket about this on BuddyPress Trac:
https://buddypress.trac.wordpress.org/ticket/6346#comment:16

[2015-11-04 23:46] r-a-y commented on #55
Here's my take on the paper author block:

![Screenshot](https://cloud.githubusercontent.com/assets/505921/10955784/2a4d5356-830b-11e5-977f-372c1d6b604d.png)

I moved the paper author block below the title as I think this looks cleaner.

I haven't committed this yet.  Let me know what you think.

[2015-11-04 23:53] mkgold commented on #55
Placement looks good to me. Does the color come from an established palette? Interested in @samradd's take

[2015-11-04 23:56] r-a-y commented on #65
That override is only applicable on the single social paper page.  This was done so that sites already using Inline Comments can still work properly.

We can add a filter on the Social Paper selector override if devs want to increase the selector scope on a single social paper page.  I think that's a good idea.  Will add the filter!  Thanks Christian!

[2015-11-04 23:58] r-a-y commented on #55
What color are you referring to?  The green of the "Public Paper" status label?

[2015-11-05 00:00] mkgold commented on #55
Yes

[2015-11-05 00:01] r-a-y commented on #55
I believe the colors were pulled from the mockup that Chris and Sam made:
https://www.evernote.com/shard/s11/sh/2a92f7ca-7297-4a88-95fe-e21552e776be/3ad953afd37528809a07834a0c807e20

[2015-11-05 00:50] r-a-y commented on #8
This is pretty much completed.

Closing this one.

[2015-11-05 00:50] #8 closed, assigned to nobody

[2015-11-05 02:48] #64 closed, assigned to boonebgorges

[2015-11-05 03:48] #62 closed, assigned to boonebgorges

[2015-11-05 04:35] #27 closed, assigned to boonebgorges

[2015-11-05 04:42] boonebgorges commented on #42
@christianwach I'm currently getting the behavior on cdev. Any chance you could debug there, and/or have a think about what @r-a-y says above? I think we've got to fix this before we ship.

[2015-11-05 09:38] christianwach commented on #42
@boonebgorges I cannot get any pages to load on cdev - all I get is `ERR_CONNECTION_TIMED_OUT`. I will look at this locally for the time being.

[2015-11-05 12:21] christianwach commented on #42
On my local install, the listeners in 807f402 are attached prior to WP FEE's and are therefore able to manipulate the editor content before WP FEE checks it.

It'd be nice to strip the attributes from the post content before it's sent to the server during autosaves too. This would avoid the need to pre-filter the post content in e036fd2. However, I can't find an appropriate hook to do so - there's

[2015-11-05 16:36] r-a-y commented on #42
Yeah, I couldn't find an appropriate JS trigger, which made me filter the post content on auto-save.

This fixes the "Enable Editing" toggling issue for me.  Thanks Christian!

[2015-11-05 17:00] boonebgorges commented on #42
Fixing it for me too. Thanks, @christianwach ! Let's reopen if it crops up again.

[2015-11-05 20:28] samradd commented on #55
I agree that looks cleaner @r-a-y -- I assume it will be below the URL editor field during editing? (I can't remember if we've landed on this being visible during editing or not...)

The green did come from the mock-up which came from Chris. We don't use green elsewhere, that I can find/recall, to indicate private/public, so I'm okay with introducing it here and carrying it to other elements later

[2015-11-05 20:47] samradd commented on #54
Let's keep the buttons rather than a tab. For consistency, I suggest we use 'Create New Paper' (I know it's longer, but it's also clearer), and place it on the right of the page.

Here's how that affects the current spots:
1. My Paper (Commons Profile): change to 'Create New Paper' but leave in-pace
![screen shot 2015-11-05 at 3 41 05 pm](https://cloud.githubusercontent.com/assets/7431171/10981092

[2015-11-05 23:38] r-a-y commented on #55
The changes are now live on cdev for testing.

Yes, the paper author block does show below the URL editor.

I think I do remember someone saying that the paper author block should not be shown during editing, but wasn't sure if it was something we wanted to implement.  It's not hard to do, just need a decision.

**Update** - We already have an issue open for this.  See #56.

[2015-11-05 23:55] samradd commented on #7
Will all of these emails be controlable via Settings > Notifications or will users be able to opt out of receiving notifications for specific papers within the notification emails? I'm worried that users may not clearly associate 'follow' with 'receive email' and I want to make sure they have a way of getting people into their 'followed' tab without also receiving emails, if they'd like.

For CAC:

[2015-11-06 00:01] r-a-y commented on #54
Thanks for the screenshots, @samradd!

Changes have been implemented and is available on cdev.

[2015-11-06 00:01] #54 closed, assigned to r-a-y

[2015-11-06 00:14] #35 closed, assigned to nobody

[2015-11-06 00:27] r-a-y commented on #58
I've addressed this for CAC by re-using the default avatar code we show on My Commons.

Let me know if you want the avatar to be different.

[2015-11-06 01:17] r-a-y commented on #7
Good question.  I did this to notify a paper author of a follower originally, but IMO yes, we should give users the option to disable email notifications of all sorts.  I'll wait for others to chime in.

I'm not sure that would be the best thing here.  Following a site is different than following a paper, so we shouldn't mix these two types of following together.  We would also want the follow pap

[2015-11-06 01:49] boonebgorges commented on #7
It would be great for users to have fine-grained control over emails that they receive. But where do these controls live? What does the UI look like, and where in the larger interface do we put it?

Currently, authors can toggle users in and out of the Readers section. Switching this so that it's an "invitation" rather than a setting will mean that authors cannot revoke access.

It seems to me tha

[2015-11-06 01:56] mkgold commented on #7
I think this makes sense. And I would suggest doing away with the "Reader" terminology entirely. Why can't we just use Followers?

[2015-11-06 02:06] boonebgorges commented on #7
"Reader" is a way of giving someone permission to read your paper. If reader==follower, then if a user decides to unfollow a private paper, they'll no longer have access to it. This, in turn, will likely mean that we need a workflow for unfollowing private papers that's different from following public papers, since it's irreversible. It also means that, if/when we start exposing "Follower" data to

[2015-11-06 02:06] mkgold commented on #58
Is this the default gravatar image?

[2015-11-06 02:09] mkgold commented on #7
Why not make the invitation terminology something like "Share this paper with . . . . " and then call the people it's shared with Followers?

I'm not sure I agree with that. If they consciously unfollow, then they are giving up access. What I think is needed is a way of muting notifications even for papers you follow, so that you don't receive email updates.

[2015-11-06 02:12] boonebgorges commented on #7
OK

Getting notifications of paper activity is, as far as I understand it, the very center of what it means to "follow" a paper. If we need per-paper toggles for this stuff, we'll need a pretty extensive settings UI.

[2015-11-06 02:15] mkgold commented on #7
I hear you on that, though there are other benefits to following a paper (ie, it shows up in your list of followed papers).

Let's think through the simplest possible way to mute/unmute email notifications -- even just as a thought experiment. I think it could possibly be done without extensive UI changes or settings.

[2015-11-06 02:17] r-a-y commented on #7
Simplest way is to add paper-related options on the "Settings > Notifications" page for all the other email types:
- Comments on papers you have authored
- Comments on papers you have commented on
- Comments on papers where you were at-mentioned
- Added as a reader to a paper?

Users can then toggle these options off if they do not want emails for certain paper actions.

[2015-11-06 02:19] mkgold commented on #7
Thank you, Ray. Isn't the simplest possible way to have a mute/unmute button on the paper itself? I realize that it would add another button to the interface, but why would anything else be needed?

[2015-11-06 02:19] mkgold commented on #7
(and I think it could be a simple icon -- not even a button)

[2015-11-06 02:24] r-a-y commented on #7
For consistency's sake, I would say we should keep email-related options on the "Settings > Notifications" page.  Every other email option we have in BuddyPress is located there (with exception to groups).  This is also more granular than a mute button (could be seen as a pro or con).

Muting papers is another feature, which wasn't brought up until just now and introduces another UI element.  This

[2015-11-06 02:32] mkgold commented on #7
I am not sure I agree with this, as we've already said that settings page is overwhelming . . . .and I think that Papers are discrete enough from the rest of the Commons that it makes most sense for people to be able to toggle notifications on or off from the papers themselves.

I did mention this earlier but I fully admit that it wasn't on our MVP. And I am fine if we decide to boot it from the M

[2015-11-06 02:38] r-a-y commented on #7
I've already added one option to the "Settings > Notifications" page to toggle if post authors should be notified of new followers... should I remove this option so we can discuss muting individual papers in a later milestone?

[2015-11-06 03:11] mkgold commented on #7
Let's figure out out whether we will include the mute option and then go from there.

[2015-11-06 13:32] boonebgorges commented on #7
@samradd Can you please chime in on this? Matt wants a "Mute" button, but I don't know how to put this in the interface in such a way that it's relationship with "Follow" is fairly clear. (One can only mute/unmute a paper if one follows the paper.)

[2015-11-06 14:45] profstein commented on #7
Hi all, I'd like to chime in on this too. Overall I think this might be easier if we work with Erin to get a couple of specific users and use cases for the MVP. That could help focus decisions on what to do and not do.

For the current discussion I am in favor of keeping it very simple in the following ways:
- There is not two options (Reader/Following), just one. We may want to use Reading as the

[2015-11-06 16:31] samradd commented on #7
I agree that adding a "mute" button into the mix with 'Follow' is going to compound the problem, not solve it -- at least in the CAC world. The settings area is a mess, yes, and we should address that someday! But if we're able to include settings we at least have a place to point users if they would like to turn off these types of notifications.

I also agree that maintaining both the 'reader' an

[2015-11-06 17:11] samradd commented on #55
Thanks for the reference! Yeah, let's just leave it for now in the beta.

[2015-11-06 18:22] samradd commented on #33
It's very hard to do this without cluttering the interface. I suggest we use the top-nav to our advantage here, similar to when users are editing a site, and include a button back to the hub there. A colored alert bar could be the main indicator that this is beta and include the links to the codex articles on Social Paper as well as a bug-reporting link (does this lead to Redmine or Zendesk?).

![

[2015-11-06 18:26] mkgold commented on #33
Thanks, Sam -- the top-nav link is in line with what I thought we had decided, so that looks good. And I like the blue colored alert.

[2015-11-06 19:32] boonebgorges commented on #33
This looks fine to me. A couple questions:
- The toolbar link goes to the Hub, right?
- Does the blue bar show in Edit mode too?
- Should the blue bar be fixed to the toolbar, so that it's still visible when scrolled down, or part of the scrollable content of the page, so it disappears when scrolling down?

cc @r-a-y

[2015-11-06 19:35] r-a-y commented on #33
Looks nice!

I would say no, but when you disable editing, the blue bar will show again.

I would say that the blue bar shouldn't be fixed.  The WP admin bar is already fixed and that takes up some vertical space.  Adding two bars that are fixed right next to each other isn't that pleasing aethestically in my opinion.

[2015-11-06 19:42] boonebgorges commented on #33
(I agree with @r-a-y on both points! But I would like to get the green light from the others too.)

[2015-11-06 19:58] mkgold commented on #33
I agree, as well.

[2015-11-06 20:00] samradd commented on #33
Yessir.

Since we're including the link bug reports and it's possible that people's first interactions with it are via creating a paper rather than just reading/commenting, yes, it should show in edit mode too.

I'd love for it to be always visible (for the same reasons as the previous point), but would be willing to give up it's "stickyness" if it's in both edit and view mode.

[2015-11-06 20:22] boonebgorges commented on #33
Yeah, I was on the fence about this. I think that (a) showing it in Edit mode, but (b) allowing it to scroll offscreen is a decent compromise.

@r-a-y Can I ask you to implement?

[2015-11-06 20:26] boonebgorges commented on #7
The thing about "Allow these users/groups to see this paper" is that group-linking actually does more than Readers: it whitelists the group members _and_ it adds paper activity to the group activity stream. (Kinda like Follow for groups.)

I am fine with not using the Readers language, but the discussion on this ticket shows how hard it is to come up with an alternative! How about if we axe the Re

[2015-11-06 20:31] samradd commented on #7
This sounds like a good solution to me, at least until we can get user feedback to see if we've made it clear enough!

[2015-11-07 00:11] r-a-y commented on #33
First pass is up on cdev.

I've made sure it's responsive.  "Report Bug" is currently linked to the Github issues page.  Let me know where this should be properly linked.

[2015-11-07 00:48] mkgold commented on #7
I can agree to this.

I am unclear whether, in saying no to a mute button, we would be taking up this suggestion from Chris:

Let's imagine that Social Paper is a huge success, and that a user -- Erin -- has created 15 papers and is a reader on 40 papers. If we go with the solutions offered by Ray and Chris, which involves adding controls for email notification controls for each of those papers to

[2015-11-07 01:55] boonebgorges commented on #7
There already is: it's called Follow/Unfollow.

Mute/Unmute alongside Follow/Unfollow, whether on the paper or on a unified notifications page, is unwieldy both from a UI and from a data schema point of view. If we decide that we need mute _in addition to_ follow in the future, we can always add it. If we add it now and people don't like it, it'll be hard to take away.

FWIW, I agree with Matt tha

[2015-11-07 02:00] mkgold commented on #7
True, but for private papers, that also completely removes read access.

[2015-11-07 02:43] boonebgorges commented on #7
No, it doesn't. "Readers" are those with read access, as determined by the paper author. "Followers" are people who receive notifications about the paper. When a user becomes a Reader, she is automatically added as a Follower. She then has the option to unfollow, at which point she will no longer receive notifications. But she'll still have access to the paper, so long as she's listed by the autho

[2015-11-07 02:44] chris0stein commented on #7
Matt, thanks for that concern. I share it too and in fact I wasn't thinking of adding a setting for each paper but having a broad global setting that would apply to all papers you follow or have authored. Here is an example:
![screen shot 2015-11-06 at 8 42 13 pm](https://cloud.githubusercontent.com/assets/277376/11012870/5889cf82-84c9-11e5-95ad-a13b89bf3429.png)

@boonebgorges you added your comm

[2015-11-07 02:45] chris0stein commented on #7
@boonebgorges You added your response again as I was typing, you're too fast for me. I think we are basically on the same page except that I'm suggesting we don't auto follow anything and allow people to decide whether or not they will follow a paper (authors will decide whether or not someone or some group can read a paper).

[2015-11-07 02:47] chris0stein commented on #7
Another correction re this point

My answer should have been yes, that's what I'm suggesting as well.

[2015-11-07 02:48] boonebgorges commented on #7
@chris0stein Yeah, it sounds like you and I are pretty much on the same page. I am fine with dropping auto-follow if it makes everything simpler to understand. If someone gets an email saying they were invited/added to a paper, it's likely they'll click through and follow themselves.

The one bit that seems weird to me is showing the Reader/Viewing stuff on public papers. As you note, it's redunda

[2015-11-07 02:51] boonebgorges commented on #33
Awesome, thanks! I think the scroll works nicely - the blue makes it very noticeable, but I can easily scroll it out of view.

The Report Bug should definitely _not_ go to Github :) I would suggest that instead of "Report Bug", it should read "Support" or "Help", and should point to a static documentation page; that page would then urge people to submit problems through Zendesk.

[2015-11-07 03:21] mkgold commented on #7
Okay -- that removes a major worry of mine.

[2015-11-07 03:24] mkgold commented on #7
Thanks, Chris. That would definitely solve the issue I raised before, but at a significant cost -- I think that people should ultimately be able to control notifications for individual papers. But that definitely does not need to be part of the MVP and we can do some user testing to see how people react/are using SP as we move forward to determine the best course of action.

[2015-11-07 03:24] mkgold commented on #33
Agree that it would be great to tie "Report Bug" to our existing bug-reporting system through Zendesk

[2015-11-08 05:29] boonebgorges commented on #7
I did some work on this tonight, and I think it's pretty close. On Chris's suggestions, I did _not_ change the appearance of the Readers section in the settings sidebar. But I did remove auto-following when a user is added to the Readers list. I also added a Follow/Unfollow button to individual papers, to make possible the workflow of being added to as a reader to a private paper -> getting an ema

[2015-11-09 02:53] #47 closed, assigned to boonebgorges

[2015-11-09 15:55] boonebgorges commented on #65
This is looking pretty good to me, so I'm going to close it in an attempt to close the milestone.

[2015-11-09 15:55] #65 closed, assigned to r-a-y

[2015-11-09 16:56] #40 closed, assigned to nobody

[2015-11-10 23:08] boonebgorges commented on #39
Reopening this issue. From http://commons.gc.cuny.edu/?p=44087:

I guess we should be refraining from swapping the URL when the paper status is not 'publish'?

[2015-11-10 23:10] boonebgorges opened #67 "Draft paper should not say "Published on" in the entry-author block"

[2015-11-10 23:11] boonebgorges commented on #67
http://commons.gc.cuny.edu/?p=44094

[2015-11-10 23:14] boonebgorges opened #68 "Browser should scroll as soon as cursor is behind bottom toolbar"
From http://commons.gc.cuny.edu/?p=44097

The browser does scroll when you get to the bottom of the window, but it ought to scroll when you get to the top of the fixed toolbar at the bottom of the screen. I assume that some judicious padding will be all that's required to make this work.

[2015-11-10 23:47] r-a-y commented on #39
I still think it's good to swap the URL, but only during publishing and not during drafts.  Will work on this later today.

[2015-11-11 00:11] boonebgorges commented on #39
Yup, that's what I meant. (The on-publish swapping is very slick.) Thanks!

On 11/10/15 17:47, r-a-y wrote:

[2015-11-11 02:35] boonebgorges opened #69 "Readers input placeholder getting cut off"
As reported in http://commons.gc.cuny.edu/?p=44106

I noticed this the other day and spent 10 minutes trying to fix it, but gave up. I'll try having another look.

[2015-11-12 00:08] #39 closed, assigned to r-a-y

[2015-11-12 12:48] christianwach commented on #42
As per Gitter comments, I'm reopening this because I have noticed that when the `isDirty` dialog appears, if I click "Cancel", then the paragraphs in the editor are left without the Inline Comments `data-incom` attributes - which of course breaks change tracking.

[2015-11-12 16:59] christianwach commented on #42
This seems to be partially solved by 89c3d0939110c7b9edb91ca6ba5a0f7d754e9797 to the extent that the "Cancel" now reinstates the `data-incom` attributes in the editor content. I'm still unsure what conditions trigger `isDirty` as I explained on Gitter. To recap:

I've noticed that sometimes the editor considers a single delete/backspace key press not significant enough to trigger `isDirty`. This s

[2015-11-12 19:33] boonebgorges opened #70 "In Webkit browsers, clicking the title does not activate cursor"
From http://commons.gc.cuny.edu/?p=44120 and http://commons.gc.cuny.edu/?p=44197

Clicking the title area for a second time will place the cursor properly.

[2015-11-12 19:59] r-a-y commented on #70
I don't have Safari, but since Safari uses Webkit, i can duplicate this bug on a Webkit-based browser.

Will see what I can do.

[2015-11-12 20:03] christianwach commented on #42
206b11eb1e0072f99817f320de50af104b4c1dbf resets comment `data-incom-comment` attributes when there are unsaved changes and "Leave" is clicked in the `isDirty` dialog.

[2015-11-12 20:06] christianwach commented on #70
Hmm, works for me in both Chrome and Safari on OSX 10.8.5.

[2015-11-12 20:08] christianwach commented on #70
Scratch that - it works in Chrome and Safari in "edit paper" mode, not in "new paper" mode.

[2015-11-12 20:09] r-a-y commented on #70
Chrome uses Blink :smile:

Hmm, Chrome has a few issues as well, but not as big as Webkit.

[2015-11-12 21:53] christianwach commented on #70
Dang it, so it does. I seem to be a couple of years behind the times. As usual :blush:

[2015-11-13 15:37] boonebgorges opened #71 "isDirty should be cleared when settings are saved"
From https://commons.gc.cuny.edu/wp-login.php?action=bpnoaccess&auth=1&redirect_to=http%3A%2F%2Fcommons.gc.cuny.edu%2F%3Fp%3D44222

I have experienced something along these lines in the past. It's possible that it's resolved with recent changes to isdirty logic.

[2015-11-13 15:42] christianwach commented on #71
Perhaps this was tested before the inclusion of changes.js? [This line](https://github.com/cuny-academic-commons/social-paper/blob/master/assets/js/changes.js#L1336) forces `isNotDirty` after saving.

[2015-11-13 15:51] boonebgorges opened #72 "User's own private papers should not be excluded from loops"
Introduced in 60bb581552cccc4385fd741bf3b474dd9d018b1b

[2015-11-13 15:51] boonebgorges commented on #72
Fixed in https://github.com/cuny-academic-commons/social-paper/commit/c18a7b931a7ecdfde6ef2ce5deae7bf76b768286

[2015-11-13 15:51] #72 closed, assigned to nobody

[2015-11-13 15:54] boonebgorges opened #73 "User's Followed tab should not include user's own papers"
From http://commons.gc.cuny.edu/?p=44228

cc @samradd

[2015-11-13 16:03] boonebgorges opened #74 "Default sort order in directories should be by updated date, not created date"
@samradd Does this seem right to you?

[2015-11-13 16:07] samradd commented on #74
Yeah, agreed. That more closely matches our treatment of the groups and sites directories, which are both initially sorted by 'last active'.

[2015-11-13 16:11] samradd commented on #33
I'm loving the blue-bar functionality!
Is adding the 'Social Paper (beta)' button to the right of the site menu in the persistent WP header nav still in the plan?

![](https://cloud.githubusercontent.com/assets/7431171/11004991/443a8c64-8489-11e5-8315-7bccf666076d.jpg)

[2015-11-13 17:07] #67 closed, assigned to nobody

[2015-11-13 17:08] boonebgorges opened #75 "Exit Edit mode when a paper is published"
See http://commons.gc.cuny.edu/?p=44238, http://commons.gc.cuny.edu/?p=44241

[2015-11-13 17:09] boonebgorges opened #76 "Don't show 'paper_status' in Publish/Update menu"
we don't use this and it's confusing

See http://commons.gc.cuny.edu/?p=44239

[2015-11-13 17:12] #76 closed, assigned to boonebgorges

[2015-11-13 17:20] #75 closed, assigned to nobody

[2015-11-13 17:51] boonebgorges commented on #75
ping @r-a-y I know that the above is pretty unpleasant. But getting this right without a refresh will include rebuilding the entire interface entirely with each change of `post_status`, which FEE makes it difficult to do - it does a fair amount of rebuilding on the server (like the Publish/Update stuff you built). Let's continue to work on this and hopefully we can rip the refresh out at some poin

[2015-11-13 18:31] boonebgorges commented on #68
I thought this could be solved with CSS alone, but I couldn't figure out how - CSS doesn't know about window height. So I wrote some unpleasant JS in 19ce233. Appears to be fixed now.

[2015-11-13 18:31] #68 closed, assigned to nobody

[2015-11-13 18:40] boonebgorges opened #77 "Verify that oembed is working for YouTube"
From http://commons.gc.cuny.edu/?p=44237

I haven't verified, but this should be checked

[2015-11-13 18:45] boonebgorges commented on #71
Also

[2015-11-13 18:48] boonebgorges opened #78 "Ensure that private paper activity is filtered out of activity streams"
it's supposed to do this, but I got a report that it's not http://commons.gc.cuny.edu/?p=44242

[2015-11-13 18:50] christianwach commented on #77
Works for me in latest Chrome (OSX): http://cdev.gc.cuny.edu/papers/image-tests/

The YouTube URL must be on a line of its own though.

[2015-11-13 18:50] christianwach commented on #77
Oh, but it's wildly oversized :(

[2015-11-13 19:47] r-a-y commented on #75
That's fine with me!

[2015-11-13 19:56] r-a-y commented on #73
I've made the change, but if we omit the displayed user's papers from the displayed user's "Followed Papers" tab, then what happens to the "Papers I follow" tab on the Papers directory?

Should we omit the logged-in user's papers from there as well?

[2015-11-13 20:15] r-a-y commented on #74
All paper loops should now be sorted by last modified, instead of published date.

[2015-11-13 20:15] #74 closed, assigned to nobody

[2015-11-13 20:18] r-a-y commented on #33
@samradd - Sorry about the omission of the "Social Paper (beta)" menu item in the WP admin bar.  I missed that!

Is it necessary though with the inclusion of the blue beta bar?

[2015-11-13 20:22] samradd commented on #33
No problem!

Yes, so that there's a surfaced way back to the hub from within editing or reading papers that remains even after beta is over and the blue bar has been removed. I'm imagining that 'About Social Paper' will lead to the codex page once that's live, rather than back to the hub. And I've had a couple people take quick looks at this interface and they both commented that they weren't sure

[2015-11-13 20:24] r-a-y commented on #33
Gotcha!

Will implement.

[2015-11-14 18:50] boonebgorges opened #79 "Remove IP address from comment notification email"
From http://commons.gc.cuny.edu/?p=44277

[2015-11-14 18:51] boonebgorges opened #80 "Remove "Time to post comment" string from comment moderation emails"
It's inserted by cookies-for-comments

[2015-11-14 18:51] boonebgorges commented on #71
Probably the same issue, from http://commons.gc.cuny.edu/?p=44277:

[2015-11-14 18:59] boonebgorges opened #81 "Add BP screen notifications for comments awaiting moderation"

[2015-11-14 19:38] #79 closed, assigned to boonebgorges

[2015-11-14 19:42] #80 closed, assigned to boonebgorges

[2015-11-14 21:10] boonebgorges commented on #78
I think this was mainly the result of the bug fixed in 76a1305. Closing as fixed.

[2015-11-14 21:10] #78 closed, assigned to boonebgorges

[2015-11-14 21:49] boonebgorges commented on #71
A clue: During a recent edit, I got a note about a more recent autosave, and when I clicked through to look at it, I saw that the difference between the autosave and the latest revision was coming from `wptexturize()`. Maybe something similar is happening with the `isDirty()` check in FEE?

@christianwach I don't 100% understand how FEE intends to be handling `isDirty()`. It has its own `isDirty()

[2015-11-14 22:05] r-a-y commented on #71
It's a FEE problem.  See my comment here:
https://github.com/cuny-academic-commons/social-paper/issues/42#issuecomment-152683850

I fixed the wpautop() autosave issue by reversing wpautop at the server level (commit e036fd2).  I didn't do this for wptexturize() or convert_chars().  FEE relies on these filters otherwise the content looks messed up in the editor.  However, these filters mess up auto

[2015-11-14 22:36] r-a-y commented on #33
`Social Paper (beta)` admin bar menu item is now implemented on cdev.

[2015-11-15 04:03] boonebgorges opened #82 "Disable autosave prompt"
For 1.0, we do not have the time to do the work that'd be required for a proper workflow.

[2015-11-15 04:14] #82 closed, assigned to boonebgorges

[2015-11-15 05:01] boonebgorges commented on #71
8cdeb7f takes @christianwach's fix from 807f402b and replicates it for the comment moderation links, which seem to be the place where the team was noticing the issue the most.

There's still a ton of inconsistency here, and it would be nice to come up with a better system. Instead of doing content comparison, as FEE currently does, it would be less problematic to have a simple flag that gets tripp

[2015-11-17 18:06] r-a-y commented on #77
I can also confirm that YouTube oEmbeds work.

I've looked into using JS to resize IFRAMES dynamically when the browser is resized.  But, there is another issue with post revisions.

If you add a new YouTube URL so it will trigger oEmbed and then disable editing, you'll see the YouTube video in its IFRAME.  If you re-enable editing and make some changes, the YouTube URL gets replaced with the oEmb

[2015-11-17 19:07] christianwach commented on #77
@r-a-y The `copy_original()` function was really just a shortcut that happened to work with basic content. I can now see that it's causing issues and should be able to do a better job of applying Inline Comments attributes to the editor content tomorrow.

[2015-11-17 19:43] boonebgorges opened #83 "Enable Editing button doesn't reappear after comment toggle"
As reported in http://commons.gc.cuny.edu/?p=44409 and http://commons.gc.cuny.edu/?p=44319:

I can't reproduce this, and I don't see in the codebase what would be making it happen. @r-a-y any ideas?

[2015-11-17 20:25] sheesh commented on #83
To double check, I just reproduced the bug on a different computer using Firefox instead of Chrome. It happened both with a paper I published earlier as well as with a paper I created today. I noticed that after one engages with comments the URL changes to reflect this even after clicking out of the comment (e.g. http://cdev.gc.cuny.edu/papers/reproducing-a-bug/?para=P0#comment-1858). Not sure if

[2015-11-17 20:57] boonebgorges commented on #83
Ah, I see now - this has to do with the way the Enable Editing button interacts with the Beta bar.

[2015-11-18 03:01] r-a-y commented on #83
Fixed on cdev.  Make sure to purge your browser cache!

[2015-11-18 03:01] #83 closed, assigned to r-a-y

[2015-11-18 04:54] #69 closed, assigned to boonebgorges

[2015-11-18 16:09] boonebgorges commented on #42
Wanted to make sure that the discussion from https://github.com/cuny-academic-commons/social-paper/issues/77#issuecomment-157455442 was looped back here - it's possible that rolling back the `copy_original()` strategy, and coming up with an alternative way of determining dirtiness with respect to incom elements, may fix this problem as well as #77 and #71.

[2015-11-18 16:16] christianwach commented on #42
@boonebgorges I'm working on a substitute for `copy_original()`. Should be able to report back later this evening.

[2015-11-18 20:52] sheesh commented on #83
Great -- works now!

[2015-11-19 01:05] christianwach commented on #77
In response to the comment from @r-a-y above, I've been writing a custom method to selectively apply `data-incom` attributes on `fee-on` - to replace `copy_original()` - and thought I was making reasonable progress. However, I have now hit something of a wall which started with oEmbeds but has since widened considerably.

So, having discovered that `copy_original()` was too crude because it failed

[2015-11-19 04:41] boonebgorges commented on #77
Thanks for plugging away at this, @christianwach.

I certainly agree that the behavior isn't accurately described by the text of the dialog. What counts as "intuitive" in this case is not clear to me, though. I think it would be perfectly natural, for instance, if FEE didn't show the notice at all when clicking "Disable Editing", but only `beforeunload` and when clicking an external link. That way

[2015-11-19 10:07] christianwach commented on #77
@boonebgorges Thanks for your feedback.

The goal of 'changes.js' is to maintain (as best we can) the associations between comments and paragraphs during edits. However, in order to track changes to the editor content (and apply those changes to the `data-incom-comment` attribute values of each comment to maintain linkage) the paragraphs in the editor need to have identifiers. The Inline Comments

[2015-11-19 10:21] christianwach commented on #77
I'm afraid I don't agree with you here @boonebgorges. When I click "Disable Editing", I expect the visible content to show the content of the editor in "Read" mode. By default, FEE does not do this, which (for me) produces a strange, dissonant effect when toggling between "Read" and "Edit" modes thereafter. It then appears that I am not editing the content, but rather have two parallel "contents",

[2015-11-19 14:23] boonebgorges commented on #77
I'm not saying that this seems _wrong_, just not that it seems obviously _right_.

If I'm understanding the situation correctly:
1. We need a way to identify, in the editor, the `data-incom` atts of each paragraph
2. Doing this by putting the `data-incom` markup into the editor is causing `isDirty` problems

Is it possible for us to accomplish 1 without changing the editor content? What if we had

[2015-11-19 16:47] boonebgorges commented on #77
Here's an attempt to sidestep the whole issue: https://github.com/cuny-academic-commons/social-paper/commit/831e171ce68b9c0402bb05bc8cbcd34a12524b4d

Requires the following modification to FEE: https://github.com/cuny-academic-commons/wp-front-end-editor/commit/3dc1d47e845568fc3b173992959ef5e52721a98b

One way of looking at our current problems is this: FEE determines dirtiness by comparing the ed

[2015-11-19 19:41] mkgold opened #84 "Export/Import capabilities"
We should talk about export/import possibilities for Social Paper for v. 2.0

[2015-11-20 13:23] christianwach commented on #77
@boonebgorges Very handy! I think the modification of FEE is logical regardless of what SP does with it. More generally, I think it could make sense to maintain an SP fork of FEE since it is a basic requirement of the project and FEE doesn't seem to be getting any TLC right now. Although it would be sensible to minimise the changes made to that fork.

Hooking into `ed.onChange` would mean that the

[2015-11-20 17:18] samradd commented on #34
Looks good to me. @sheesh are you happy with font size now?

[2015-11-20 17:24] samradd commented on #56
Ah, I didn't realize the tags update. I think that's a valid point -- let's leave it as is for now. Thanks, Boone!

[2015-11-20 17:41] boonebgorges commented on #56
:+1:

[2015-11-20 17:41] #56 closed, assigned to samradd

[2015-11-20 18:15] christianwach commented on #77
@boonebgorges @r-a-y I've added [a new branch called "no-copy"](https://github.com/cuny-academic-commons/social-paper/commits/no-copy) that handles oEmbeds by replacing `copy_original()` with a more sophisticated `add_atts()` method.

For me, even without 831e171, it never seems to trigger the `isDirty` dialog, particularly now that I filter `editor.getContent()` to remove `data-incom` attributes.

[2015-11-23 03:45] sheesh commented on #34
looks good!

[2015-11-23 14:17] #34 closed, assigned to samradd

[2015-11-23 19:42] r-a-y commented on #73
@samradd - Just a friendly ping for some feedback here!

[2015-11-23 20:18] samradd commented on #73
Sorry @r-a-y, missed this one in my review on Friday.

The 'Papers I Follow' tab should also omit the user's own papers, yes. Since they mirror each other, 'Papers I Follow' and 'Followed Papers' should probably also be titled the same. I vote for 'Papers I Follow' because I think it's clearer.

[2015-11-23 21:16] boonebgorges opened #85 "Directory search should match paper tags"
cc @samradd

[2015-11-23 21:33] boonebgorges opened #86 "Directory tabs should load via AJAX"
Copied from https://redmine.gc.cuny.edu/issues/4945

[2015-11-23 22:23] r-a-y commented on #86
I see we made a commit in bp-nelo to disable AJAX:
https://github.com/cuny-academic-commons/cac/commit/33a869af6bc096907fb208dcfdb3c8f5a63d6ca2

And the reason behind this was due to complications with the paper tag filter.  Let me see what I can do here.

[2015-11-23 22:35] boonebgorges commented on #86
Oh right. My memory is not what it used to be :-/

IIRC, I spent two minutes looking at bp_filter_request and gave up. It
may be that we need to write a custom handler. In any case, it's not
critical for CAC 1.9.

On 11/23/2015 04:23 PM, r-a-y wrote:

[2015-11-23 22:39] r-a-y commented on #73
Should be fixed on cdev.

My only issue with this is if you're viewing another member's followed papers, "Papers I Follow" would have to change to "Papers X follows" or something like that.  Do you have some other text we could use?  Otherwise, "Papers X follows" sounds a little convoluted.

[2015-11-23 23:33] r-a-y commented on #86
Okay, this should be fixed on cdev.

[2015-11-23 23:33] #86 closed, assigned to r-a-y

[2015-11-23 23:35] r-a-y commented on #85
Hmm, I don't think we can add a conditional `tax_query` clause to `WP_Query`, can we?

[2015-11-23 23:42] boonebgorges commented on #85
Not really. Clauses of `WP_Query` are implicitly linked by 'AND'. (Wouldn't it be nice to have `WP_Meta_Query` etc syntax for `WP_Query`? `Future Release` :-D ) As things stand, t'd have to look something like this (maybe in a 'pre_get_posts' callback):

[code]

Pretty lousy, and it doesn't do any weighting, but I think it's the only reliable way.

[2015-11-24 03:57] boonebgorges opened #87 "Requirements notices should distinguish between installing and activating plugins"
The plugin requirement admin notices currently read "Please download it...", even if the plugin is already installed. We should detect the difference, and offer either a link to activate, or a link to plugins.php.

[2015-11-24 04:56] boonebgorges commented on #77
Thanks for your work on this, @christianwach. The approach looks good to me, and so far I haven't managed to make FEE throw any notices. Would appreciate a look from @r-a-y before merging.

[2015-11-24 15:29] samradd commented on #73
Very valid point... I'm fine with leaving the titles as they are for now. I like the clarity of 'Papers I Follow' in the directory view, and can't think of a less convoluted title for the profile view.

[2015-11-24 15:43] boonebgorges opened #88 "Mobile sweep"
I was just messing around a bit with SP on a phone, and most things work well, but there are one or two things that could use some mods before initial release. I'll sweep through.

[2015-11-24 15:46] mkgold commented on #88
Thanks, Boone

Best,

## Matt

Matthew K. Gold, Ph.D
Associate Professor of English & Digital Humanities
Advisor to the Provost for Digital Initiatives
Executive Officer, M.A. Program in Liberal Studies
The Graduate Center, CUNY
http://cuny.is/mkgold

[2015-11-24 16:24] christianwach commented on #77
@boonebgorges Thanks for looking and glad it seems good to you. To clarify: my comment about it working without your `isDirty` fixes doesn't mean we don't need your code! Indeed, I can't think how SP would signal that the group settings need saving without taking control of it from FEE.

I'll tackle `undo redo` asap and check the rest in the context of 831e171.

[2015-11-24 17:06] r-a-y commented on #73
Thanks for the reply, Sam!

Going to close this one for now.

[2015-11-24 17:06] #73 closed, assigned to r-a-y

[2015-11-24 17:07] r-a-y commented on #77
I've tested the `no-copy` branch and everything seems to be working.

@christianwach - Merge at will!

[2015-11-24 17:12] r-a-y opened #89 "Fix <title> tag on single paper pages"
Make sure the page title shows correctly.

Will probably need to add support for `title-tag` and document title.

[2015-11-24 18:23] #89 closed, assigned to r-a-y

[2015-11-24 23:09] profstein opened #90 "Change Follow button to Follow Papers Button"
Also change Unfollow to Unfollow Paper

Due to the placement of the button in line with the author this change helps to make sure people don't think they are following the author instead of the paper.

![image](https://cloud.githubusercontent.com/assets/6502138/11383489/76b2039c-92d6-11e5-95e5-e0714969990c.png)

[2015-11-24 23:20] profstein opened #91 "Bug in Leave changes button when editing title"
This only happens if you are editing the title. It works as expected when editing the body.

If you click Disable Editing before saving and then click the Leave button the page does not refresh. Also the button doesn't change to Enable Editing. Clicking the Disable Editing button again at this point has not effect.

Clicking Leave should bring the page back to Comment mode with Enable Editing butt

[2015-11-24 23:31] profstein opened #92 "Change default behavior of FEE alert on leave"
The alert happens when the user clicks Disable Editing on a paper they have changed but not updated.

The change would mean the default behavior if the user didn't pay attention would be to save the work they did instead of leave without saving.

Basically change from this default
![image](https://cloud.githubusercontent.com/assets/6502138/11383719/37b955b2-92d8-11e5-9418-edb99a7042ef.png)

To thi

[2015-11-24 23:35] profstein opened #93 "Always show Responses title above comments box"
Right now if you have a paper with no comment then the "Responses" title doesn't show above the comment box.

![image](https://cloud.githubusercontent.com/assets/6502138/11383964/d62b2df0-92d9-11e5-821a-ef1ec7018b66.png)

Once a comment is left, whether it is a post comment or paragraph comment, the title shows:
![image](https://cloud.githubusercontent.com/assets/6502138/11383995/02c8c502-92da-11e

[2015-11-25 15:11] boonebgorges commented on #93
Thanks. This seems like a straightforward bug, so let's fix it for v1.

[2015-11-25 15:12] #93 closed, assigned to boonebgorges

[2015-11-25 15:14] boonebgorges commented on #91
Thanks, @profstein. Fixing this is going to be non-trivial, so let's set it aside for the initial release.

[2015-11-25 15:37] profstein commented on #91
OK, understood.

[2015-11-25 21:45] boonebgorges commented on #90
Making the change it this point would affect much of the documentation that's already been prepared, so we're going to postpone this change.

[2015-11-25 21:46] boonebgorges commented on #92
I don't have strong feelings about the verbosity. Changing which button is "primary" (blue) seems OK to me.

Having the primary button in the middle doesn't make a lot of sense to me. How about swapping the second and third buttons?

[2015-11-25 22:11] profstein commented on #92
Swapping the buttons is fine with me, go ahead with that. I also don't have strong feelings about the language.  the main thing is that if they hit enter without reading it will save the changes.

On Nov 25, 2015, at 4:46 PM, Boone Gorges <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't have strong feelings about the verbosity. Changing which button is "primary" (blue) s

[2015-11-25 22:13] profstein commented on #90
Ok, we do Think that there is potential for confusion so if you could apply in an early dot release that would be nice.

On Nov 25, 2015, at 4:45 PM, Boone Gorges <notifications@github.com<mailto:notifications@github.com>> wrote:

Making the change it this point would affect much of the documentation that's already been prepared, so we're going to postpone this change.

##

Reply to this email dir

[2015-11-25 22:20] boonebgorges commented on #90
Just to clarify - who is "we"? Is it you and @samradd ?

It's technically easy for me to make the change, but changes like this have to be reflected across our docs, which is time-consuming. This is why we had a deadline for functional and design changes :) But yes, let's try to coordinate with the team on a release that will require docs changes - ideally, they'll be grouped together, to minimize

[2015-11-26 00:31] profstein commented on #90
Yes @samradd is the other part of we. And I'm on board with collecting these changes so they can be documented properly and more efficiently.

On Nov 25, 2015, at 5:20 PM, Boone Gorges <notifications@github.com<mailto:notifications@github.com>> wrote:

Just to clarify - who is "we"? Is it you and @samraddhttps://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_samradd&d=AwMCaQ&c=nI61yajbN8W

[2015-11-27 18:10] christianwach commented on #77
@r-a-y I fixed an edge case (when `enter` is pressed with the cursor at the beginning of a para) and merged `no-copy`.

I have [bumped an issue](https://github.com/tinymce/tinymce/issues/2406#issuecomment-160184335) on the TinyMCE issue queue for the Gecko/Webkit difference in classes when merging paragraphs. This still needs to be addressed in SP's change-tracking code.

For `undo`/`redo` trackin

[2015-11-30 19:52] samradd commented on #82
@r-a-y this autosave prompt appears to be back. I can't recreate how I got to it, but I definitely saw it in the last day or two. I can try to recreate further if needed.

[2015-11-30 19:58] samradd commented on #76
@r-a-y I believe this was where we got rid of the arrow for 'published/draft' next to the Update button. This also appears to have re-appeared.

![screen shot 2015-11-30 at 2 58 23 pm](https://cloud.githubusercontent.com/assets/7431171/11482786/d3041c3e-9772-11e5-8097-ce410d930849.png)

[2015-11-30 21:35] r-a-y commented on #76
@samradd - I do not think we chose to remove the arrow; only options that were not applicable like "Sticky" and "Pending Review".

The arrow has some relevance if one decides to change their published paper back to draft status.  However, I can remove the arrow for our usage on the Commons, but does this impact any of the documentation?

[2015-11-30 21:41] samradd commented on #76
No, you're right, @r-a-y.

It's definitely included in the documentation (http://codex.commons.gc.cuny.edu/how-to-create-a-paper/), which is proof that I made up the removal. Let's leave it be.

[2015-11-30 22:44] samradd commented on #92
I agree that swapping the buttons is a good idea, so the blue one is still on the far-right. That also means we should update the text to be clearer, such as: "The changes you made will be lost if you navigate away from this page without updating." Which would look something like this (sorry, quick mock-up):

![update-and-leave](https://cloud.githubusercontent.com/assets/7431171/11486882/cba36302-

[2015-12-07 09:12] #87 closed, assigned to nobody

[2015-12-08 18:15] #33 closed, assigned to r-a-y

[2015-12-09 14:38] christianwach commented on #77
Most of the oEmbed providers I have tested work okay, though some have needed code tweaks in order that they don't cause a mismatch between Read and Edit modes. The following, however, is the scenario for Twitter embeds, which is giving me a right headache.

NB, I am using a filter on `the_content` <del>(which is as yet not committed)</del> to replace

[code]

with

[code]

This at least removes t

[2016-01-03 22:15] samradd commented on #92
Poking this thread -- I think this should be a priority change before too many more people become used to the way the buttons are arranged now.

[2016-01-07 17:20] boonebgorges opened #94 ""Connected to group" activity should be sensitive to post_status changes"
As of 515a923, connecting a paper to a group will no longer create activity items in the corresponding groups if the paper is a draft. However, this means no "connected to group" activity is created in the following case:
1. user creates draft paper, connects to group
2. later, the user publishes the paper

There should be something hooked to `transition_post_status` or something like that, which

[2016-01-19 15:24] christianwach commented on #92
@samradd - thank you for thinking this through. I have implemented your revised dialog with text depending on the status of the paper (i.e. use "update" if published or "save" if draft or pending).

[2016-01-19 20:26] boonebgorges commented on #92
This looks great - thanks, @christianwach !

The new button config caused a button to float to the next line (at least on my FF) so I adjusted the styling a bit https://github.com/cuny-academic-commons/wp-front-end-editor/commit/5e7d9d5a71a9a6d0778065dc1a9c695a21285686

[2016-01-19 20:26] #92 closed, assigned to christianwach

[2016-03-13 02:42] boonebgorges commented on #23
See https://gist.github.com/dirnthelord/0384111cfb7f88e7a3e5 and https://redmine.gc.cuny.edu/issues/5320

[2016-03-16 16:01] boonebgorges opened #95 "Required plugin admin notice throws notice due to nonce generation"
The admin notice related to required plugins is generated at 'plugins_loaded' (`Social_Paper::init`). The generation of nonces requires invoking the current user, and bbPress and BP throw a tantrum when the current user is referenced before 'init'. ("The current user is being initialized without using $wp->init()...") Can we move the generation of the admin notice to a later hook?

[2016-03-16 16:53] r-a-y commented on #95
I have a fix ready for this.  Should I commit to 1.0.x or master?

[2016-03-16 16:58] boonebgorges commented on #95
I think 1.0.x is what we're running on CAC, so maybe there and then
merge to master? (it doesn't matter very much :) )

On 03/16/16 11:53, r-a-y wrote:

[2016-03-16 17:03] r-a-y commented on #95
K, thanks!

Can you clarify a few things for me?  I'm getting a little confused with our branches.  Should master reflect whatever 1.0.x branch currently is?  What are we working on for 1.1.x branch?

[2016-03-16 17:18] #95 closed, assigned to nobody

[2016-03-17 01:25] boonebgorges commented on #95
Hrm. I don't remember. I think the idea was:
- new features that will not launch anytime soon in 1.1.x
- bugfixes and features for immediate launch in 1.0.x
- merge things to master when they're ready to be deployed to CAC -
  submodule is pinned against the head of the master branch

On 03/16/16 12:03, r-a-y wrote:

[2017-03-01 21:05] sheesh opened #96 "approving comments"
When document has multiple comments, user cannot easily approve each comment one by one. Every time user approves one comment, the sidebar disappears, and the paper returns to the "reading" mode rather than "editing" mode.

[2017-03-01 21:16] sheesh opened #97 "reading comments"
It would be nice if all comments were automatically open and visible when reading a paper. Currently, it's not immediately apparent when a document has comments, or how to find them.

[2018-02-27 19:28] urbanfoodpolicy opened #98 "insert link feature doesn't work"
When you highlight text, all features in the pop-up menu work except the insert link feature.

[2018-03-22 13:33] stevenov opened #99 "more than 20 groups"
When you want to share a paper with a group, you're limited to your first 20 group memberships (alphabetically). If you have more than 20 memberships, 21 and up are not available.

In Google Chrome Windows Version 64.0.3282.186 (Official Build) (32-bit)

[2018-03-22 14:48] boonebgorges commented on #99
Thank you for the report! This is now fixed and will be in the next Commons release.

[2018-03-22 14:48] #99 closed, assigned to nobody

[2019-01-31 16:10] jbrown0719 opened #100 "Editing Mode/Creating New"
When creating a new paper, when edit mode is enable, I am unable to type anything at all. The box for the title does not show up, nor does the box to type the body text. It is just a blank white page with the URL box, and the options to publish, save draft and tag.

[2021-12-04 04:37] tmober opened #101 "Email notifications about paper that I am not following"
I received notifications about the papers below which I am NOT following, all of which appear to be provided by the same contributor:
- https://commons.gc.cuny.edu/papers/improvements-of-an-aspiring-writer/
- https://commons.gc.cuny.edu/papers/rhetorical-analysis-of-mother-tongue/
- https://commons.gc.cuny.edu/papers/depression-addiction-and-finding-a-lifelong-friend/

[2021-12-04 07:16] r-a-y commented on #101
Thanks for reaching out, @tmober. We've already received reports about this bug and have fixed this [internally on the Commons](https://redmine.gc.cuny.edu/issues/15024).

The issue is caused by the author using a password for their paper, which triggered a bug in the email notification system for followers of that paper.

See commit https://github.com/cuny-academic-commons/social-paper/commit/41f

[2021-12-04 07:16] #101 closed, assigned to nobody

[2022-10-13 12:55] ryanseslow opened #102 "Can't edit this existing published paper"
Hello,
The Edit button does not seem to work or allow me to edit this existing paper (there are so many typos I want to fix :(

the link is - https://commons.gc.cuny.edu/papers/53657/

I also see some wonky code in the left hand side bar area of the expanded web page.

Any help would be appreciated.
:)
<img width="2162" alt="Screen Shot 2022-10-13 at 8 56 33 AM" src="https://user-images.githubuser

[2022-10-13 16:27] boonebgorges commented on #102
Hi @ryanseslow - Thanks for the ticket and the screenshot.

We've more or less deprecated the use of social-paper on the CUNY Academic Commons. For technical reasons, it's not feasible at the moment to re-enable editing. However, I'm able to update text - if you'd like to send me an updated version of the copy, or specific edits, I can swap it out.

Sorry for the inconvenience!

[2022-10-13 17:11] ryanseslow commented on #102
Thanks so much Boone! I totally understand, for some reason this seems to be a popular paper and I still get a ton of inquiries to this day! :) - Those same peeps also alert me to the fact that there are a few typos with the word "due" instead of "do"..  and with "you".. that should be "your" If those few can be updated I would really appreciate it!
Im attaching a screen shot to locate them :)))
T

[2022-10-18 14:08] boonebgorges commented on #102
Thanks, @ryanseslow ! Taking a second look, I think it might be easier for me to grant Dashboard access for you to make your mods directly. Could you let me know whether you're able to see the paper in question when you visit https://commons.gc.cuny.edu/wp-admin/edit.php?post_type=cacsp_paper? If so, please go ahead and make your edits, and let me know when you're done so that I can hide the menu

[2022-10-18 22:56] ryanseslow commented on #102
Hi Boone!
Thank you!!
Yes I can see it and will apply the edits this evening!

Thank you so much!
:)))
Ryan

Ryanseslow.com
@ryanseslow

On Oct 18, 2022, at 10:09 AM, Boone Gorges ***@***.***> wrote:

﻿

Thanks, @ryanseslow<https://github.com/ryanseslow> ! Taking a second look, I think it might be easier for me to grant Dashboard access for you to make your mods directly. Could you let me know whe

[2022-10-19 00:33] ryanseslow commented on #102
Hi Boone,
I made the edits and updated the post!
Thank you again for the help!
🙂
Ryan
________________________________
From: Boone Gorges ***@***.***>
Sent: Tuesday, October 18, 2022 10:08 AM
To: cuny-academic-commons/social-paper ***@***.***>
Cc: ryan ryanseslow.com ***@***.***>; Mention ***@***.***>
Subject: Re: [cuny-academic-commons/social-paper] Can't edit this existing published paper (Issue

[2022-10-19 14:11] boonebgorges commented on #102
Thanks for confirming!

[2022-10-19 14:11] #102 closed, assigned to nobody